[2016-03-01 16:30] PaulStovell opened #1 "Install DNU/dotnet"
I really like this plugin, looks like a great way forward for building DNX apps in TeamCity.

The first hurdle I ran into is that you have to install DNU/DNX as the user that the agent is running under. It would remove so much friction if TeamCity could take care of this - either by letting users specify a custom version (the same way they can specify which NuGet executables to use) or just downlo

[2016-03-03 11:10] dtretyakov commented on #1
@PaulStovell, we will try to automate tools installtion in the next versions of plugin.

Please note, that Microsoft announced that they move from [DNX](https://github.com/aspnet/dnx) to [.NET CLI tools](https://github.com/dotnet/cli) and DNX toolkit will be retired soon.

[2016-03-14 12:17] dtretyakov opened #2 "Add ability to collect code coverage"
After running test session plugin should process code coverage results.

[2016-03-14 12:19] dtretyakov opened #3 "Add ability to determine dotnet cli tools by PATH variable"
`dotnet` tool can also be located by checking PATH variables in addition to `DOTNET_HOME` environment variable.

[2016-03-14 12:22] dtretyakov opened #4 "Add process listener to analyze tools output"
We can analyze output of the command line tools to distinguish sub steps and report detailed errors for each step.

[2016-03-14 12:25] dtretyakov opened #5 "Check compatibility with popular test frameworks"
We can check integration with a following test frameworks:
- xunit
- nunit
- mstest

[2016-03-14 13:17] #3 closed

[2016-05-03 07:34] poteb opened #6 "NuGet restore is looking in user directory"
I've installed the plugin and I'm trying to build my project with the .NET Core (dotnet) runner. It's failing right away because it's looking for a dll from a package in my users directory.
[code]
This is build with a build agent running under Local System account. I have another build agent running under my account, when I use that it's trying to find the dll in my users directory.
[code]
I can b

[2016-05-03 10:32] dtretyakov commented on #6
@poteb, could you try to use `dotnet restore` build step before `dotnet build` to restore packages?

Also, if you want to arrange target nuget packages location you can specify path in the advanced build step settings.

Note: dnvm works with DNX projects and dotnet with .NET CLI projects.

[2016-05-03 12:38] poteb commented on #6
@dtretyakov That worked like a charm, running `dotnet restore` with a Command Line and Working directory set to the root of the project.
I thought it would do that automatically, like Visual Studio does when you change something in your project.
Thank you so much.

[2016-05-03 12:38] #6 closed

[2016-06-06 15:16] ChantayOsborne opened #7 "dotnet_Path exists error"
Per the documentation, we have the DOTNET_HOME environment variable configured, but we still have the "Unmet requirements: dotnet_Path exists" error on the build agent. Visual Studio and .NET core were all installed from this link: https://www.microsoft.com/net/core#windows

[2016-06-07 13:06] dtretyakov commented on #7
@ChantayOsborne, please make sure that you have configured `PATH` or `DOTNET_HOME` under build agent user, and value looks like `C:\Program Files\dotnet\`. Then you should restart TeamCity build agent. After agent connection, you can ensure that environment variables are properly propagated to the build agent at the Agent Parameters => Environment Variables page.

When it is properly configured yo

[2016-06-07 18:48] ChantayOsborne commented on #7
I've got the DOTNET_HOME variable, and it shows under Agent Parameters -> Environment Variables, but I'm still getting Unmet Requirements errors. I've tried restarting the agent, the entire TeamCity server, and rebooting the box. What should I check next?

![image](https://cloud.githubusercontent.com/assets/19270594/15870584/fd75fcf0-2cad-11e6-8c6d-e63a25504124.png)

[2016-06-08 10:09] dtretyakov commented on #7
@ChantayOsborne, thanks for pointing out, .NET CLI package structure has been changed, so you can download [latest plugin build](https://teamcity.jetbrains.com/repository/download/TeamCityDotnetCorePluginBuild/.lastSuccessful/dotnet-core-plugin.zip?guest=1) to resolve it.

[2016-06-08 17:16] ChantayOsborne commented on #7
Perfect, that fixed the issue. Thank you!

[2016-06-08 20:33] ChantayOsborne opened #8 "Setting up Dependent Projects in the Build"
The build is now working for stand alone projects, but how do I go about setting up the build in such a way where dependencies are handled? For instance, I have a project called "Location", which has a dependency on another project called "Google". That's defined in my project.json file:

"dependencies": {
    "Microsoft.Net.Http": "2.2.22",
	"Newtonsoft.Json": "6.0.6",
	"Google" :  "1.0.0"
  }

H

[2016-06-08 22:09] #7 closed

[2016-06-08 22:26] dtretyakov commented on #8
@ChantayOsborne .NET CLI tools should recoursevely resolve your project structure, so you can leave blank or manually specify project paths.

[2016-06-27 12:27] Kavorka79 opened #9 "Does not work properly with publish-iis tool"
**Project.json**

[code]

**Settings**
Projects: src/foo
Configuration: Release
output: published-app

generats command: `"C:\Program Files\dotnet\dotnet.exe" publish src/foo --configuration Release --output published-app`

Expected:
tranformation of web.config

Actual:
`Could not find a part of the path 'D:\TeamCity\buildAgent\work\c0b1debfe88f0b47\src\foo\published-app\web.config'.`

Works if yo

[2016-06-28 15:59] dtretyakov commented on #9
@Kavorka79, thanks for report.
We will update tooling support to reflect recent changes in the .net core 1.0 release.

[2016-07-05 08:34] westwok opened #10 "Publish prepublish"
I'm using dotnet core 1.0 and I'm getting "No executable found matching command "npm"" when running the publish step.  It appears it's related to the prepublish scripts in the project.json.  Is there something I should be doing that I am not or could this be a bug?

Thanks,
Kevin

[2016-07-05 13:20] dtretyakov opened #11 "Provide nuget packages cleaner"
Nuget package restore can consume significant amount of disk space on the build agent which can be cleaned.

[2016-07-11 12:35] SaltyDH commented on #5
This is probably way too soon but with NUnit support now available via the dotnet test cli, what's the best way to pass the results through to TeamCity so that the test run results are captured? Currently it looks like it returns the number of failed tests as the error code.

[2016-07-12 19:54] dtretyakov commented on #5
@SaltyDH, we created an issue in nunitlite to return back teamcity support:
https://github.com/nunit/nunit/issues/1224

You can vote for it.

[2016-07-18 16:22] kf-josephmegkousoglou commented on #9
Is there an update on this?

[2016-07-21 12:48] dtretyakov commented on #1
Now dotnet .core can be installed via scripts [as follows](https://docs.microsoft.com/en-us/dotnet/articles/core/tools/dotnet-install-script).

[2016-07-21 13:50] dtretyakov opened #12 "Add dotnet run command"
Add `dotnet run` command support

[2016-07-21 17:44] dtretyakov commented on #9
Actually it is caused by `dotnet publish` command error: https://github.com/dotnet/cli/issues/3528, https://github.com/dotnet/cli/issues/3679

[2016-07-21 17:47] dtretyakov commented on #10
@westwok, you should ensure that user under which launched TeamCity build agent has a proper `PATH` configuration and you are able to call `npm` from his command prompt.

[2016-07-21 17:48] #8 closed

[2016-07-22 08:47] vegardlarsen opened #13 "Publishing Nuget package to internal feed"
I've added a `dotnet pack` build step to my project, which builds the Nuget packages. In other projects, when you use the Nuget pack integration (for classic .NET), these packages are picked up automatically and published to the internal feed.

How would this work with this plugin?

[2016-07-22 12:08] dtretyakov commented on #13
@vegardlarsen, it should works as usual - just specify your packages as a [build configuration artifacts](https://confluence.jetbrains.com/display/TCDL/NuGet#NuGet-UsingTeamCityasNuGetServer).

[2016-07-22 12:12] vegardlarsen commented on #13
I have, and they are found as artifacts, but not published as NuGet packages:

![image](https://cloud.githubusercontent.com/assets/436508/17056774/fc7147f2-5015-11e6-8668-428ae7fa6320.png)

However, the packages are not published as in another similar (non .NET Core) project (specifically the NuGet packages tab is missing):

![image](https://cloud.githubusercontent.com/assets/436508/17056815/41773

[2016-07-22 12:15] vegardlarsen commented on #13
Build steps, for reference:

![image](https://cloud.githubusercontent.com/assets/436508/17056872/c0daa822-5016-11e6-976f-b8001bc86fd8.png)

[2016-07-22 12:26] dtretyakov commented on #9
`dotnet publish` works fine with absolute paths, so as a workaround you can prepend your output path by `%teamcity.build.workingDir%` [build parameter](https://confluence.jetbrains.com/display/TCDL/Predefined+Build+Parameters).

@Kavorka79, in your case it will look like `%teamcity.build.workingDir%/published-app`

[2016-07-22 12:27] dtretyakov commented on #13
@vegardlarsen, thanks for details, we will check it.

[2016-07-22 12:37] vegardlarsen commented on #13
All the details I can get for you. I am going on vacation today, so I am uncertain how much information I will be able to provide later, so here is everything I could think of. I can't share the actual project at this stage, unfortunately.

<details>
<summary>Build log</summary>
Build 'Vesseltracker :: Default' #14
Started 'Fri Jul 22 14:30:10 CEST 2016' on 'dc-TeamCity' by 'Vegard Andreas Larsen

[2016-07-22 12:57] dtretyakov commented on #11
Possible nuget cache locations: https://github.com/NuGet/NuGet.Client/blob/94c106c8cafed0b8239fc170da5f67d8e564d177/src/NuGet.Core/NuGet.Configuration/Utility/SettingsUtility.cs#L132-L236

[2016-07-22 15:00] #11 closed

[2016-07-25 11:35] dtretyakov commented on #13
@vegardlarsen, it seems that you can use [teamcity internal property](https://confluence.jetbrains.com/display/TCDL/Configuring+TeamCity+Server+Startup+Properties#ConfiguringTeamCityServerStartupProperties-TeamCityinternalpropertiesinternal.properties) to workaround it:
[code]

Issue in our tracker: https://youtrack.jetbrains.com/issue/TW-44739#comment=27-1382968

[2016-07-26 14:48] vegardlarsen commented on #13
@dtretyakov Thank you for looking into this, but it does not appear to work. I have TeamCity 9.1.7 (no opportunity to upgrade to v10 at the moment). The internal property was loaded, I can see it under Administration, Server Administration, Internal Properties. I rebooted the server to ensure it was loaded completely.

The behavior is still exactly as it was before.

[2016-08-05 11:40] gulbanana opened #14 "Apply to multiple projects"
It would be great if this plugin could run dotnet commands on multiple projects, similar to how the Nuget plugin works. E.g. I would like to have a step which does
dotnet test foo
dotnet test bar

and another which does
dotnet pack foo
dotnet pack bar

[2016-08-09 12:45] dtretyakov opened #15 "Rename dotnet_Path agent parameter into DotNetCore_Path"
It'll make it easier to determine context of this parameter

[2016-08-17 11:16] KostyaSha commented on #15
@dtretyakov will it break existing configurations?

[2016-08-17 11:18] KostyaSha opened #16 "No releases and changelogs"
subj

[2016-08-18 08:18] dtretyakov commented on #15
@KostyaSha, no, it'll be updated smoothly.

[2016-08-21 23:40] jbednarik1 commented on #13
I have 10.0.1 (build 4207) and i don't see the packages published to the internal feed. I tries the internal property workaround. Can someone confirm it does not work in this version as the last comment (07 Apr 2016, 03:45) seems to indicate a the upgrade should fix TW-44739. Anyway.. thanks for this plugin.

[2016-08-22 15:30] adeel41 commented on #14
I am facing the same problem. Although it does says "Projects" but I am not sure which delimiter to use for specifying multiple projects.

[2016-08-23 17:39] supergibbs commented on #13
@jbednarik1 The workaround fixed the problem for me. Just follow the instructions [here](https://confluence.jetbrains.com/display/TCD10/Configuring+TeamCity+Server+Startup+Properties) to create an `internal.properties` file then add `teamcity.nuget.feed.filter.targetframework = false`

[2016-08-24 07:12] vegardlarsen commented on #13
After updating to 10.0.1 (build 42078), this issue is still present.

[2016-09-01 15:23] dtretyakov commented on #13
@vegardlarsen, you are using semantic versions `0.0.1-*` and version suffix `pre%buildnumber%` in the `dotnet pack` step for pre-release nuget package versions and at the moment such packages are not visible in feed due to issue [TW-33722](https://youtrack.jetbrains.com/issue/TW-33722), so please watch for it resolution.

[2016-09-01 15:23] #13 closed

[2016-09-02 13:04] vegardlarsen commented on #13
I am not sure that is it either. I changed the version suffix to `%build.number%` instead, and it still does not publish the Nuget packages.

I also tried changing the version number to `0.0.1.*` and using the same suffix, but this results in `0.0.1.* is not a valid version string` when building on my local machine.

I am not tied to specific version number formats here, I just want this to work,

[2016-09-02 13:45] dtretyakov commented on #13
@vegardlarsen, you can see your package in the feed if you use version number `0.0.1-*` and don't set version suffix.

[2016-09-02 14:12] supergibbs commented on #13
I noticed one weird thing. Versions 0.1.0 and 0.1.1 worked fine then 0.1.2 didn't. I rebuilt a few times and the artifact was created but not in the feed. I bumped the version to 0.1.3 and it worked again. I have it set with -* but don't use the suffix option.

[2016-09-02 16:01] dtretyakov commented on #13
@vegardlarsen, can you see your nuget packages in the nuget feed by navigating to:
`%teamcity-url%/guestAuth/app/nuget/v1/FeedService.svc/FindPackagesById()?Id='%package-id%'` ?

If you can see all desired packages, please check that all versions of such packages in the following format: https://github.com/NuGet/NuGet2/blob/master/src/Core/SemanticVersion.cs#L19

Because if you are using nuget 2.x

[2016-09-02 16:03] dtretyakov commented on #13
@supergibbs, could you also please check that teamcity feed contains `0.1.2` package by navigating to:
[code]

[2016-09-02 17:55] supergibbs commented on #13
@dtretyakov, I checked and it doesn't show in the feed even though it's in the builds artifacts

[2016-09-03 10:52] dotnetneile opened #17 "restore multiple sources"
It would be useful to allow a space delimiter like other fields or multi-line like the NuGet Installer runner for multiple sources. The documentation states you can enter source multiple times.

"-s, --source [SOURCE]

Specifies a source to use during the restore operation. This overrides all of the sources specified in the NuGet.config file(s). **Multiple sources can be provided by specifying thi

[2016-09-05 06:25] vegardlarsen commented on #13
It is in the authenticated feed now, so I can finally start using it. Very strange that this didn't show up before. Also, surfacing the "Nuget packages" tab would be very helpful.

Thank you for the help.

[2016-09-18 13:05] roji opened #18 "Run tests inside their project directory"
The plugin in its current state runs tests from outside the project directory - this can cause issues with tests which access file resources, assuming that the current directory is the project.

In other words, rather than doing `dotnet test test/myproj`, it would be better to do `cd test/myproj; dotnet test`.

[2016-09-23 10:05] mcctomsk commented on #18
We've got error message after we switched from command line step
----
cd FolderWithTest
dotnet test
----
to using step with plugin.
[TestName] System.AggregateException : One or more errors occurred. (The configuration file 'appsettings.json' was not found and is not optional.) (The configuration file 'appsettings.json' was not found and is not optional.) (The following constructor parameters did

[2016-09-28 10:29] prabhakarreddy1234 opened #19 "Cannot restore packages from teamcity nuget server"
I am using teamcity as my nuget feed. I published 1  dotnet core package using TeamCity CI. I can see that  nuget package has been dropped into the nuget feed folder in Teamcity. But cannot restore that package using visual studio or command line.

I used `dotnet pack` command.

![image](https://cloud.githubusercontent.com/assets/1984707/18910182/c091ffb8-856e-11e6-8bda-53e90a254314.png)

[2016-09-28 10:46] dtretyakov commented on #19
This issue was moved to JetBrains/teamcity-nuget-support#19

[2016-09-28 10:46] #19 closed

[2016-09-29 19:49] sachokFoX commented on #14
Have you tried smth similar to `**/project.json`. I am using this for building multiple projects.
`dotnet build **/project.json`

[2016-09-30 11:22] prabhakarreddy1234 opened #20 "Automatically increment patch number of the package"
I am trying to use TeamCity as nuget server. When i run `dotnet pack` step i want to increment `patch` version automatically.  I think currently it doesn't support.

I could only see that  there is `Verison Suffix` field which replaces `*` with the version.  I think `*` represents release version rather patch version.  Is it possible to update  `patch`. If not can you please add another field or m

[2016-09-30 13:27] dtretyakov commented on #20
@prabhakarreddy1234, you can use `text-%build.counter%` as a version suffix or [something else](https://confluence.jetbrains.com/display/TCD10/Configuring+General+Settings#ConfiguringGeneralSettings-BuildNumberFormat).

More details on dotnet pack docs: https://docs.microsoft.com/en-us/dotnet/articles/core/tools/dotnet-pack

[2016-09-30 14:02] prabhakarreddy1234 commented on #20
@dtretyakov    `text-%build.counter%  replaces the `*` in the version.  But i want to increment `patch` number.

I am using  `semver` .  Let's say my package is  `1.3.24`. When i want to publish it  teamcity should increment it  so that it should be  `1.3.25` .  Is this possible ?

[2016-10-03 16:38] dtretyakov opened #21 "Improve first time startup experience"
To mak first time experience with build agent easier wet can set DOTNET_SKIP_FIRST_TIME_EXPERIENCE environment variable.

[2016-10-10 14:39] pedershk commented on #14
@sachokFoX That only works for dotnet build. dotnet pack doesn't support the globbing pattern natively, unfortunately.

[2016-10-11 10:49] dtretyakov commented on #20
@prabhakarreddy1234, sorry for delay.

dotnet cli tools does not help with it, but by leveraging TeamCity [File content replacer](https://confluence.jetbrains.com/display/TCD10/File+Content+Replacer) build feature you can easily do it.

![image](https://cloud.githubusercontent.com/assets/1025927/19267792/5fe0e760-8fb9-11e6-86ad-611b11af4b5f.png)

Fill in target project file name in *Process files*

[2016-10-25 08:09] hakan-ronngren commented on #17
Yes, the ability to get sources from both nuget.org and our internal repository is definitely an important ability. Until we can find a way of doing this, we will have to fool TeamCity somehow.

[2016-10-26 12:31] grzes2016 opened #22 "test command not return tests results"
test command not return tests results to Overiew tab, for example return message "Process exited with code 1" when some of test fails:
![teamcity](https://cloud.githubusercontent.com/assets/23076953/19725642/0b6595f8-9b87-11e6-9e5e-cd6bfa7560e3.png)

when all test pass, not added any information about test results.

Tested with:
TeamCity Professional 10.0.1 (build 42078)

[2016-10-26 19:10] dtretyakov commented on #16
Update release notes section: https://github.com/JetBrains/teamcity-dotnet-plugin/releases

[2016-10-26 19:10] #16 closed

[2016-10-26 20:17] #17 closed

[2016-10-26 20:22] dtretyakov opened #23 "Disable telemetry data collection"
We can disable telemetry data collection via environment variable `DOTNET_CLI_TELEMETRY_OPTOUT`:
https://docs.microsoft.com/en-us/dotnet/articles/core/tools/telemetry

[2016-10-27 10:55] #23 closed

[2016-10-27 11:08] #21 closed

[2016-10-27 12:52] dtretyakov commented on #18
In the last change you can specify working directory for `dotnet test` command.

[2016-10-27 12:52] #18 closed

[2016-10-27 13:45] #15 closed

[2016-10-27 15:11] dtretyakov commented on #22
@grzes2016, thanks for reporting it. We'll provide detailed build info as result of issue #4.

[2016-10-27 15:11] #22 closed

[2016-10-28 18:26] dtretyakov opened #24 "Properly handle all dotnet cli versions"
Different .net core sdk tools report version in different format:

Normal sample:
[code]

Sample, where --version output same as for --info:
[code]

[2016-10-29 11:31] #24 closed

[2016-11-01 10:55] #10 closed

[2016-11-06 09:37] capiono opened #25 "NuGet restore: Unable to load the service index for source"
While running the dotnet restore step I get the error below:

I have enabled and installed Nuget Server/tool.

How do I fix this?

[2016-11-07 15:33] dtretyakov commented on #25
@oerhahon, it may be caused by invalid connection settings on your build agent machine.

Could you try to run `dotnet restore` for this project on build agent machine from the command line?

If it also does not work and you need to use proxy server you can try to specify [proxy settings](https://docs.nuget.org/ndocs/schema/nuget.config-file#config-section) and try again.

[2016-11-15 09:20] dtretyakov opened #26 "Add support for csproj"
.NET Core tooling switched to msbuild-based csproj structure from project.json, so we can add a support for such projects.

More details: https://blogs.msdn.microsoft.com/dotnet/2016/10/19/net-core-tooling-in-visual-studio-15/

[2016-11-15 18:39] dtretyakov commented on #25
@capiono, does it properly work now?

[2016-11-30 15:24] twurm commented on #26
@dtretyakov any thoughts on when this will be available?  We bit the bullet and upgraded to VS 2017 RC for our ASP.net Core Project and now our TeamCity builds fail when we run pack/publish.

[2016-12-06 17:23] dtretyakov commented on #26
@twurm, could you please provide list of errors which you see in pack/publish steps?

[2016-12-06 17:35] twurm commented on #26
@dtretyakov below is the error we are seeing:
[Step 3/3] Starting: "C:\Program Files\dotnet\dotnet.exe" pack src/Mx.Web --configuration Debug
[22:39:07]	[Step 3/3] in directory: C:\BuildAgent\work\31ccbb5e0f48106d
[22:39:07]	[Step 3/3] Unable to find a project.json in src/Mx.Web\project.json
[22:39:07]	[Step 3/3] Process exited with code 1
[22:39:07]	[Step 3/3] Step .NET Core (dotnet) failed

[2016-12-06 21:17] dtretyakov commented on #26
@twurm, did you installed [.net cli preview3](https://github.com/dotnet/core/blob/master/release-notes/preview3-download.md) on this build agent?
Could you also please execute `dotnet --info` in the working directory, for instance in `C:\BuildAgent\work\31ccbb5e0f48106d`.

[2016-12-08 15:05] twurm commented on #26
@dtretyakov thanks for the pointer, Preview 3 was installed, however the agent showed Preview 2 in Agent Parameters\Configuration Parameters.  A reboot of the machine and everything started working!  Thanks for the help!

[2016-12-13 12:49] #26 closed

[2016-12-14 09:40] jiabiao opened #27 "Add donet nuget [command] support"
There is a new command ```dotnet nuget [command]``` since dotnet cli 1.0.0-preview 3.
It can push package to an external Nuget server conveniently

[2016-12-14 11:18] dtretyakov commented on #1
Since .NET CLI preview3 we can install additional CLI tools:
https://docs.microsoft.com/en-us/dotnet/articles/core/preview3/tools/dotnet-install-script

[2016-12-14 11:21] dtretyakov commented on #27
We need to add following commands:
* [dotnet-nuget-delete](https://docs.microsoft.com/en-us/dotnet/articles/core/preview3/tools/dotnet-nuget-delete)
* [dotnet-nuget-push](https://docs.microsoft.com/en-us/dotnet/articles/core/preview3/tools/dotnet-nuget-push)

[2016-12-14 11:23] dtretyakov opened #28 "Use dotnet nuget locals command to cleanup packages cache"
Since .NET CLI preview3 we can use [dotnet-nuget-locals](https://docs.microsoft.com/en-us/dotnet/articles/core/preview3/tools/dotnet-nuget-locals) command to cleanup local nuget packages cache.

[2016-12-17 01:51] tofutim commented on #6
Just want to say that this thread saved my hide. Thanks.

[2016-12-23 18:59] seriouz commented on #25
I have the some problem and restoring from console is working.

[2016-12-26 15:39] dtretyakov commented on #25
@seriouz, please describe in which infrastructure `dotnet restore` fails?

[2017-01-03 21:57] jaysonhelseth opened #29 "Teamcity Download Needs Update"
I have downloaded the plugin from the Teamcity plugin site and it is not allowing me to build with dotnet by pointing at a .csproj file. I see in your comments that you have that you have added that feature. Can you update the link on the Teamcity site, or provide instructions on how to compile your source into a plugin?

Thanks,

Jayson

[2017-01-03 22:06] dtretyakov commented on #29
@jaysonhelseth, could you please share teamcity .net core plugin version and `dotnet` cli tools version installed on this build agent? Also it would be great to look at the build step output to investigate it.

[2017-01-03 22:12] jaysonhelseth commented on #29
.net core plugin: 0.3.2
dotnet cli: 1.0.0-preview2-1-003177

Here is the dotnet error:
**Step 1/2: Build (.NET Core (dotnet))
[15:40:33][Step 1/2] Failed to start build runner 'dotnet'
[15:40:33]
[Step 1/2] jetbrains.buildServer.agent.ToolCannotBeFoundException: Invalid tool dotnet distribution at C:\Program Files\dotnet\
	at jetbrains.buildServer.dotnet.DotnetToolProvider.getPath(DotnetToolProvid

[2017-01-03 22:26] dtretyakov commented on #29
@jaysonhelseth, ok, you need to instal .net core plugin [v0.6.1](https://plugins.jetbrains.com/teamcity/plugin/9190) and  .net core cli tools version [1.0.0-preview3](https://github.com/dotnet/core/blob/master/release-notes/preview3-download.md).

[2017-01-03 22:30] dtretyakov commented on #29
Also, please make sure that .net core cli has been successfully detected on the build agent and if not define dotnet tool path in the PATH env var: https://blog.jetbrains.com/teamcity/2016/11/teamcity-dotnet-core/

[2017-01-03 22:43] jaysonhelseth commented on #29
I have version 0.6.1 now. I hesitate to move to preview3. I did get a different error in my build log now.

**Step 1/3: .NET Core (dotnet)
[16:41:31][Step 1/3] Starting: "C:\Program Files\dotnet\dotnet.exe" restore webdotnetcore.sln
[16:41:31][Step 1/3] in directory: C:\TeamCity\buildAgent\work\98592d4b866641b0
[16:41:31][Step 1/3] error: Invalid input 'webdotnetcore.sln'. The file type was not re

[2017-01-04 05:46] tofutim opened #30 "httpauth for dotnet restore from TeamCity nuget feed"
Hi, I do a dotnet restore before my sln is built, and it looks like it wants to nuget restore from it which is fine except I am not sure how to pass in my teamcity credentials as they do not seem to be automatically passed (I am using teamcity as a nuget server). I ended up using guestAuth but prefer httpAuth. Any tips?

[2017-01-04 12:06] dtretyakov commented on #29
@jaysonhelseth, dotnet cli 1.0.0-preview2-1-003177 only works with project.json based projects, so you have to use preview3 to be able to build *.sln and *.csproj files:
https://blogs.msdn.microsoft.com/dotnet/2016/11/16/announcing-net-core-tools-msbuild-alpha/

[2017-01-04 12:10] dtretyakov commented on #30
Hi, thanks for reporting, we need to add support of httpauth for `dotnet restore` command, currently it works for `NuGet Installer` build step.

[2017-01-04 14:56] jaysonhelseth commented on #29
I installed the preview and restarted the Teamcity Server. I feel like I am getting closer. Here is my new error:
****Step 1/3: .NET Core (dotnet)
[08:53:39][Step 1/3] Starting: "C:\Program Files\dotnet\dotnet.exe" restore webdotnetcore.sln
[08:53:39][Step 1/3] in directory: C:\TeamCity\buildAgent\work\98592d4b866641b0
[08:53:40][Step 1/3] Building the projects in this solution one at a time. To e

[2017-01-04 22:11] latop2604 commented on #29
Does each command run correctly on your dev environment?

[2017-01-04 22:41] jaysonhelseth commented on #29
The restore worked just fine in my dev environment. My dev environment is Windows 10 64 bit enterprise edition, running dotnet version 1.0.0-preview4-004233. I didn't realize that my dev environment was a newer version than my continuous integration environment.

[2017-01-05 00:41] latop2604 commented on #29
You can try to edit global.json file and downgrade the targeted dotnet sdk to match your tc environment

[2017-01-05 17:17] jaysonhelseth commented on #29
It seems like I am having problems retrieving packages when building with Teamcity.

**[Step 1/3] C:\Program Files\dotnet\sdk\1.0.0-preview4-004233\NuGet.targets(70,5): error MSB4018: The "RestoreTask" task failed unexpectedly. [C:\TeamCity\buildAgent\work\98592d4b866641b0\webdotnetcore.sln]
[11:09:46][Step 1/3] C:\Program Files\dotnet\sdk\1.0.0-preview4-004233\NuGet.targets(70,5): error MSB4018:

[2017-01-10 16:24] tofutim commented on #30
Mil gracias!

[2017-01-11 15:03] capiono commented on #25
Yes, console restore works, but doesn't work from TeamCity.

[2017-01-12 17:12] dtretyakov commented on #25
@capiono, what version of .net core cli do you use on this machine?

[2017-01-12 19:55] capiono commented on #25
1.1.0

Get Outlook for Android<https://aka.ms/ghei36>

On Thu, Jan 12, 2017 at 12:12 PM -0500, "Dmitry Tretyakov" <notifications@github.com<mailto:notifications@github.com>> wrote:

@capiono<https://github.com/capiono>, what version of .net core cli do you use on this machine?

—
You are receiving this because you were mentioned.
Reply to this email directly, view it on GitHub<https://github.com/J

[2017-01-14 23:43] mayuanyang opened #31 "no artifact is being generated from dotnet pack"
I can see that nuget package is generated, but teamcity doesn't see it as a artifact
###Build log
![image](https://cloud.githubusercontent.com/assets/3387099/21959026/fb811d1e-db06-11e6-9ee3-3fcac070ad34.png)

###Artifact
![image](https://cloud.githubusercontent.com/assets/3387099/21959033/19d8a57a-db07-11e6-9779-d5204d97a5bf.png)

[2017-01-15 15:08] dtretyakov commented on #31
@mayuanyang, if you need to keep nuget package [as a build artifact](https://confluence.jetbrains.com/display/TCDL/Build+Artifact) you need to add `output/*.nupkg` directory at the General Settings page of this build configuration.

Please let me know if it works.

[2017-01-16 07:10] mayuanyang commented on #31
thanks

[2017-01-16 07:10] #31 closed

[2017-01-16 15:59] GDBSD commented on #25
I have two solutions with identical project.json files. I am referencing "Moq": "4.6.38-alpha" from MyGet. Here's my NuGet.Config entry:
<add key="MyGet1" value="https://www.myget.org/F/aspnet-contrib/api/v3/index.json" />

In Solution A this works just fine. However in Solution B I get the following exception:
Unable to load the service index for source https://api.nuget.org/v3/index.json.

It's

[2017-01-16 18:47] JhonnyYin commented on #2
This is a really useful tool and I hope code coverage will be added soon!

[2017-01-18 10:57] dtretyakov commented on #25
@GDBSD, could you please try to run `dotnet restore` and `dotnet --version` from the command line in the solution A and solution B directory?

[2017-01-26 18:41] astef commented on #20
PowerShell build step: https://gist.github.com/astef/68cb9cb4774e82895eb85fcf9d25af77

[2017-02-07 13:38] DBugger32 commented on #2
dotCover already works in ReSharper for dotnet Core for nUnit code coverage, would be great if TC could use it as well.

[2017-02-13 03:06] brantburnett commented on #14
This limitation is making Nuget CI difficult for me, as well.  As new, related packages are added to a repo, we have to adjust the build configuration.  And then it fails against older branches that don't have those packages.

[2017-02-15 05:04] the-eejay opened #32 "NullPointerException in TestArgumentsProvider"
Greetings,

I believe there's a bug in the TestArgumentsProvider.

![image](https://cloud.githubusercontent.com/assets/2044982/22961154/952bf61e-f38f-11e6-9efb-4a20b01eaf47.png)

When I don't supply a value for the temp directory in the dotnet test command (pictured above), I get a Null Pointer Exception. Here's the (abbreviated) stacktrace:

`Step 20/25: Run Unit Tests (.NET Core (dotnet))
[13:35

[2017-02-15 09:42] dtretyakov commented on #32
@the-eejay, thanks for reporting. You can update this plugin to the latest version: https://plugins.jetbrains.com/teamcity/plugin/9190

[2017-02-15 09:42] #32 closed

[2017-02-15 09:42] #12 closed

[2017-02-15 09:44] dtretyakov commented on #29
@jaysonhelseth, could you please try to update to the latest plugin version with a fixes in .net cli preview4 support: https://plugins.jetbrains.com/teamcity/plugin/9190

[2017-02-16 16:00] jaysonhelseth commented on #29
This finally worked! Thank you for your help.

[2017-02-17 15:43] #29 closed

[2017-02-28 07:14] ashtt commented on #2
dot-cover version 2016.3 is capable of covering dotnet Core but, Team-city comes bundled with dot-cover -2016.2
I am not able to use Team-city's dot-cover for generating the report.

[2017-03-06 10:47] dtretyakov opened #34 "Hints does not work for sln files"
We need to provide hints not only for pointed project.json and csproj files but also for sln files.

[2017-03-06 10:51] #34 closed

[2017-03-13 16:26] Lechus opened #35 "Dotnet restore step is not working with net core targeting net framework"
http://www.hanselman.com/blog/HowToReferenceAnExistingNETFrameworkProjectInAnASPNETCore10WebApp.aspx

[2017-03-14 08:33] dtretyakov commented on #35
@Lechus, it's nuget client issue where in some `dotnet cli` builds it fails to restore packages.
Please leave a comment in the https://github.com/NuGet/Home/issues/4316

[2017-03-16 08:56] dtretyakov opened #36 "Invalid parameter escaping when passing msbuild arguments"
If we trying to pass additional msbuild arguments like `/p:ExternalToolsPath="C:\Program Files (x86)\Microsoft Visual Studio\2017\Community\Web\External"` it wraps it into `"/p:ExternalToolsPath="C:\Program Files (x86)\Microsoft Visual Studio\2017\Community\Web\External""`.

[2017-03-16 09:59] dtretyakov commented on #36
As a workaround we can use other separators like `'`, `` ` ``

[2017-03-21 13:48] dtretyakov commented on #35
.NET CLI decided that `dotnet restore` should support restore only for new csproj files, so packages.config will be ignored by design: https://github.com/dotnet/cli/issues/6029 So, please don't hesitate to leave a comment in the mentioned issue.

[2017-03-21 13:48] #35 closed

[2017-03-21 13:50] dtretyakov commented on #25
Closing due to release of stable .net core cli build.

[2017-03-21 13:52] dtretyakov commented on #20
For new csproj files you can use built-in File Content Replacer templates in TeamCity 2017.1, see [TW-49013](https://youtrack.jetbrains.com/issue/TW-49013).

[2017-03-21 13:52] #20 closed

[2017-03-21 13:54] dtretyakov commented on #27
Will be available in the next build.

[2017-03-21 13:54] #27 closed

[2017-03-27 08:54] niwrA commented on #2
Has anyone raised an issue with TeamCity yet to bundle dotcover 2016.3?

[2017-04-06 08:54] dtretyakov commented on #5
To provide tests reporting for different frameworks can be used [TeamCity VSTest adapter](https://github.com/JetBrains/TeamCity.VSTest.TestAdapter).

All that you need is to add a reference for [`TeamCity.VSTest.TestAdapter`](https://www.nuget.org/packages/TeamCity.VSTest.TestAdapter) nuget package.

[2017-04-18 10:26] NikolayPianikov commented on #2
Hi Jhonny,
You could load a new version of [dotCover](https://www.jetbrains.com/dotcover/download/#section=commandline) manually and use it. TeamCity 2017.1 has the ability to do it simpler - just by selecting the version which you are needed.
After that you should use this [way](https://confluence.jetbrains.com/display/TCD8/Manually+Configuring+Reporting+Coverage) for teamcity-dotnet-plugin.
Also

[2017-04-25 19:36] dtretyakov opened #37 "Support new default paths in .Net core 2"
In .Net core 2 was changed default installation path: https://github.com/aspnet/Announcements/issues/234

[2017-05-03 09:40] capiono commented on #25
This is still an issue.
I can run restore from command line, Team City is still producing the same error. I have converted to VS 2017 Project, that didn't change anything.

dotnet --version: 1.0.3
nugget version 3.5.0

[2017-05-03 20:51] dtretyakov commented on #25
@capiono, did you tried to execute `dotnet restore` under the same user account which was used to run TeamCity build agent?

Could you add additional parameter `-v d` in the `dotnet restore` build step and share output?

If you need to use proxy server please verify after the build completion that at the `Parameters` tab of this build in the `Environment variables` section exists mention of _proxy

[2017-05-04 17:27] seriouz commented on #25
I have solved the issue some time ago with the following:

Log into the docker image
[code]

Create a config file for nuget:
[code]

Set the content:
[code]

Save the config and let the build agent build/restore once more through the teamcity gui.

[2017-05-05 23:43] capiono commented on #25
I was able to recreate the error with the service user (Local System) in a command prompt:
running:

`dotnet restore  -v d`

 produces this:

But when I run the command under my account or Run as Admin, it works fine.

[2017-05-06 11:42] #25 closed

[2017-05-12 15:52] ntregillus commented on #13
I am still having this issue. I build the package, and all of the nuget packages appear in teamcity's artifact dropdown, but are not listed in the hosted nuget feed. If I change any setting (doesn't seem to matter) on the pack build step, and rebuild, the subsequent build is appearing on the feed. What the f is going on? why is this so brittle?

[2017-05-13 13:16] dtretyakov commented on #13
@ntregillus, could you please share the version of your TeamCity installation?

Since TeamCity 2017.1 you could use NuGet Push (via `dotnet nuget push` or `NuGet Publish` build steps) to publish packages into the built-in feed which provides you a guarantee that your packages will be available [right after these steps completion](https://confluence.jetbrains.com/display/TCDL/NuGet#NuGet-UsingTeamC

[2017-05-17 06:19] oliverjanik opened #38 "dotnet clean"
How do I run dotnet clean? Or any custom command for that matter?

[2017-05-17 11:41] dtretyakov commented on #38
@oliverjanik, currently it is not available and as a workaround you could use TeamCity [Swabra](https://confluence.jetbrains.com/pages/viewpage.action?pageId=74844984) cleaner feature to cleanup checkout directory.

[2017-05-18 17:02] DotNetRockStar opened #39 "Unable to download plugin"
Hello there.  I cannot seem to download the TeamCity plugin.  Is there another link that might work?  Here is the link that I am using to try and download: https://plugins.jetbrains.com/plugin/9190--net-core-support
then scroll down and click [Download] and then I get redirected to this url with the following message:
https://d9ernfkkvx1zk.cloudfront.net/9190/29587/external?updateId=29587&pluginId

[2017-05-18 18:24] dtretyakov commented on #39
Thanks for reporting, please use [following link](https://teamcity.jetbrains.com/app/rest/builds/buildType:TeamCityDotnetCorePluginBuild,branch:default:any,tag:release/artifacts/content/dotnet-core-plugin.zip?guest=1) to download plugin.

[2017-05-18 18:31] dtretyakov commented on #39
The issue in the plugins repository and it will be fixed in 2 hours.

[2017-05-18 18:48] dtretyakov commented on #39
Fixed.

[2017-05-18 18:48] #39 closed

[2017-05-24 15:39] ntregillus commented on #13
interesting! I am using TeamCity Professional 10.0.4 (build 42538) I'll try adding these steps to my nuget class library packages.  Thank you @dtretyakov hopefully this will reduce the weird issues i am seeing!

[2017-05-31 10:43] jakerabjohns15 commented on #2
Hi @NikolayPianikov, Im currently trying to follow the instructions on the page you linked, but it is not at all clear where I should put the service message, as I do not have an msbuild or ant script, as this is .net core.

Could you please explain exactly what you meant, or potentially a blog post about this would be a good idea as I have spent a fair few hours now searching in vain for how to a

[2017-05-31 11:10] capiono opened #40 "dotnet restore"
I have a private NuGet server. I can restore packages from VS and via command line from my package source.

However, what I run in team city, I get this error:

when I enter this:

in the browser directly it works just fine.

I'm using:
      dotnet SDK 1.0.3
       TeamCity dotnet Plugin: 0.8.1

Thanks.

[2017-06-02 09:14] dtretyakov commented on #40
@capiono, you need to check network settings on the build agent machine. According to the log it could not resolve your private nuget server name `appshard1` into ip address.

For that try to execute `nslookup appshard1` on the build agent machine under the same user account which is used to tun TeamCity agent under and check output. If it fails then contact your network administrators to properly

[2017-06-04 22:27] capiono commented on #40
The DNS is proper configured and nslookup, returned the right info

[2017-06-05 14:16] dtretyakov commented on #40
@capiono, ok, maybe you are using proxy server to access target nuget server?
In case of improper configuration it can fail with `504 (Unknown Host)` error.

Please take a look at the following questions:
* https://stackoverflow.com/questions/28288328/nuget-the-remote-server-returned-an-error-504-gateway-timeout
* https://stackoverflow.com/questions/11553591/visual-studio-c-nuget-unable-to-connect

[2017-06-07 08:21] NikolayPianikov commented on #2
@jakerabjohns15 i mean you could create your own proj file for msbuild and use it to run test and to publish a coverage statistics to TeamCity.

As you know the true way to run test for .net core based projects is to use the command line `dotnet test`. But dotnet core plugin is not supported coverage from the box yet and we are working on it.

As workaround you could use the `Visual Studio Tests`

[2017-06-12 14:51] wanton opened #41 "dotnet vstest"
Any plans to add support for the vstest command? It would make it easier to run multiple test projects in one build step (dotnet test does not support this currently).

[2017-06-30 16:00] dtretyakov opened #42 "Check compatibility with .NET Core 2.0.0"
We need to ensure that all new features from .NET Core 2 works fine:
https://github.com/dotnet/announcements/issues/17

[2017-07-06 17:26] Loudman opened #43 "Precompile and Prepublish scripts"
Is there any way that the publish run the following script:

"prepublish": ["dotnet bundle"],
or
"precompile": "dotnet bundle",

I really need to run "dotnet bundle" in order to generate all the minified files

[2017-07-07 13:32] dtretyakov commented on #43
Hi,

If you are still using project.json you could make changes according to the dotnet-bundle command docs:
https://github.com/madskristensen/BundlerMinifier/wiki#command-line-interface-net-core

If you're moving to csproj you could declare tools in the project and set prepublish target like that:

[code]

[2017-07-13 09:33] #43 closed

[2017-07-20 06:27] oliverjanik commented on #7
So what is needed to get the agent going?

[2017-07-20 07:51] dtretyakov commented on #7
@oliverjanik, TeamCity build agent detects .NET CLI availability while starting. Before that you need to [install .NET Core SDK](https://www.microsoft.com/net/download/core) on the build agent machine.

[2017-07-20 08:42] oliverjanik commented on #7
I have done that, but I still needed to set DOTNET_HOME manually?

[2017-07-20 12:53] dtretyakov commented on #7
@oliverjanik, while discovering `dotnet` location the plugin considers following locations for user under which TeamCity build agent is running:
* `PATH` environment variable  which is usually updated after .NET CLI installation
* `DOTNET_HOME` if you need to use dotnet CLI location which is not included in `PATH` variable.

Note: It your're running TeamCity build agent under SYSTEM account you ha

[2017-07-20 14:30] oliverjanik commented on #7
Right, restarting the service would've done it :-) Thanks for your explanation. I hope other people will find it useful, too.

[2017-08-10 14:12] NikolayPianikov opened #46 "Support tools for dotnet plugin"
See https://youtrack.jetbrains.com/issue/TW-51150 for details

[2017-08-10 22:58] capiono commented on #40
Got the same error after running the dotnet restore command

[2017-08-11 08:39] dtretyakov commented on #40
@capiono, to check environment could you try to login to this machine under the same user account which is used to run TeamCity build agent. Then navigate to the checkout directory like `C:\TeamCity\buildAgent\work\279c3e8f3593f219\` from the command line and execute `dotnet restore` for your project like `dotnet restore src\myproject\app.csproj`.

If you are running TeamCity build agent service u

[2017-08-14 15:09] holotrek opened #47 "Custom command for dotnet"
Would like to see support for [migrations](https://docs.microsoft.com/en-us/ef/core/miscellaneous/cli/dotnet), i.e. `dotnet ef` commands, specifically `dotnet ef database update`

[2017-08-14 15:48] #46 closed

[2017-08-14 15:50] NikolayPianikov commented on #2
Linked issue: https://youtrack.jetbrains.com/issue/TW-50760

[2017-08-29 13:46] DannyAllegrezza commented on #42
Hi @dtretyakov,

Now that 2.0 is out in final release form, do you have a status update of TC support for this plugin?

[2017-09-04 12:33] #2 closed

[2017-09-04 13:03] NikolayPianikov opened #52 "Add logger verbosity level for all dotnet commands"

[2017-09-04 13:06] #52 closed

[2017-09-04 15:32] #38 closed

[2017-09-04 15:44] NikolayPianikov commented on #5
Now [TeamCity VSTest adapter](https://github.com/JetBrains/TeamCity.VSTest.TestAdapter) is not required. Plugin uses integration package from-the-box. Integration of xunit/nunit/mstest was checked

[2017-09-04 15:44] #5 closed

[2017-09-04 15:50] NikolayPianikov commented on #37
The dotnet path was not changed

[2017-09-04 15:50] #37 closed

[2017-09-04 15:50] davestephens commented on #42
It looks like most/all of the functionality is in the source, but the version on the Jetbrains plugin website is the one from March this year. Any news on a release guys?

[2017-09-05 09:04] bobend opened #54 "Plugin fails to install on Teamcity 2017.1.3"
server version: TeamCity Enterprise 2017.1.3 (build 46961)
plug-in version: SNAPSHOT-20170904152901

exception:
[code]

[2017-09-05 09:51] #36 closed

[2017-09-05 13:23] #54 closed

[2017-09-05 13:32] NikolayPianikov commented on #42
I've checked 2.0 looks compatible. @davestephens some last changes: dotCover support, `dotnet clean` command, tests integration, much better presentation of a build output

[2017-09-05 13:32] #42 closed

[2017-09-05 13:49] WeyensLuk opened #56 "Error when installing plugin in TeamCity"
Hi,

I'm trying to setup a .NET Core project in TeamCity and came across this plugin to facilitate my work in configuring a build. So I downloaded the plugin, copied it into the TeamCity datadirectory/plugins, rebooted the server and it booted with the following error:

[code]

Both server and its agents are running an embedded version of Java
[code]

Is there anything I'm missing? I have the dotn

[2017-09-05 15:59] dtretyakov commented on #56
@WeyensLuk, could you please also report TeamCity and this plugin version?

[2017-09-05 16:00] dtretyakov commented on #56
It seems that it was fixed as #54

[2017-09-05 20:38] #14 closed

[2017-09-05 20:41] NikolayPianikov commented on #4
It is not needed now because of we have made the advanced msbuild logger

[2017-09-05 20:41] #4 closed

[2017-09-06 05:46] WeyensLuk commented on #56
True, I use TeamCity 2017.1.3, so it has indeed already been resolved, sorry for the double issue :)

[2017-09-06 05:46] #56 closed

[2017-09-06 11:10] NikolayPianikov opened #57 "Runner doesn't check an exit code of dotnet CLI"

[2017-09-06 12:48] #57 closed

[2017-09-06 12:53] NikolayPianikov opened #58 "dotnet msbuild"
Support advanced set of capabilities using `dotnet msbuild`

[2017-09-06 16:29] xlegalles opened #59 "Issue when using code coverage"
I try to use the code coverage and my tests are not even run as I have an error at the very beginning of the step. Note the very strange name of the .dotcover file which indeed has a funny character in the file system of the server. I've run it several times with different agents, getting systematically the same pb.

[code]

Context:
- TC: 2017.1.2 (build 46812)
- dotCover: 2017.2.20170824.141024

[2017-09-06 20:52] NikolayPianikov commented on #59
Thanks for info, fixed

[2017-09-06 20:52] #59 closed

[2017-09-07 12:51] #58 closed

[2017-09-07 12:53] NikolayPianikov opened #60 "Support native msbuild for Windows"

[2017-09-07 19:34] NikolayPianikov commented on #41
@wanton yes, we have these plans. By the way now `test` command supports multiple projects and ant patterns in the plugin

[2017-09-11 09:01] #60 closed

[2017-09-11 15:59] #41 closed

[2017-09-11 16:21] NikolayPianikov opened #61 "support msbuild for mono"

[2017-09-12 08:59] NikolayPianikov opened #62 "support mono nuget"

[2017-09-12 09:00] NikolayPianikov opened #63 "support native nuget for Windows"

[2017-09-12 09:01] NikolayPianikov opened #64 "Add the ability to reproduce a build step"
A hidden artifact as set of .cmd/.sh and link from a build log

[2017-09-12 10:07] NikolayPianikov opened #65 "Default dotCover filters to exclude coverage info for infrastructure code"

[2017-09-12 10:35] #65 closed

[2017-09-12 12:56] NikolayPianikov opened #66 "Add diagnostics info to build log for dotCover"

[2017-09-12 13:03] #66 closed

[2017-09-12 13:23] NikolayPianikov commented on #40
@capiono any updates about this issue?

[2017-09-12 15:30] capiono commented on #40
It is still not working. Getting the same error.

[2017-09-14 11:38] NikolayPianikov opened #67 "dotCover for MSBuild under Mono does not work"
* When mono has path with white-spaces
* Hangs up on finish

[2017-09-14 13:34] NikolayPianikov opened #68 "Use MSBuild Response Files instead of some command line arguments"
Some times the length of command line is too long

See https://msdn.microsoft.com/en-us/library/ms404301(v=vs.85).aspx

[2017-09-14 13:34] #61 closed

[2017-09-15 10:31] davestephens opened #69 "Can't install the Dotnet Integration Tool after installing plugin"
After installing the newest version of the plugin (SNAPSHOT-20170912130407) onto TeamCity 2017.1, it then asks you to select (or install if you haven't already) the "Dotnet Integration Tool". My TeamCity server doesn't have internet access so I manually uploaded the nuget package as directed.

When selecting this uploaded version as the "Dotnet Integration Tool", in my build log I get:
[code]

If

[2017-09-15 12:03] #68 closed

[2017-09-15 12:57] NikolayPianikov commented on #69
@davestephens thanx for info, fixed

[2017-09-15 12:57] #69 closed

[2017-09-15 13:02] NikolayPianikov opened #70 "Passing all TeamCity system parameters as MSBuild parameters for MSBuild related commands"

[2017-09-15 13:13] davestephens commented on #69
That's awesome, thank you.

Any idea when this will be released and available for install?

[2017-09-15 13:28] NikolayPianikov commented on #69
I've done, try downloading it now

[2017-09-15 17:12] #70 closed

[2017-09-16 21:29] dtretyakov commented on #47
We could not implement UI for all cases, but we could provide dotnet custom command where user could specify any arguments for `dotnet` executable like `ef database update` in this case.

[2017-09-19 12:50] NikolayPianikov commented on #67
Issue was created: https://youtrack.jetbrains.com/issue/DCVR-8906

[2017-09-19 12:51] NikolayPianikov commented on #67
Workaround is to run `cmd.exe /c ....` under dotCover instead

[2017-09-19 13:13] #67 closed

[2017-09-20 10:00] davestephens commented on #69
OK, so I've installed the plugin. It then lets me upload the TeamCity.dotnet.integration nupkg, and it installs and unpacks correctly to build agents. Log colouring also works as expected, so thanks for that!

HOWEVER....:)

After installing, these directories appeared in the build agent tools directory - which also seem like unzipped nuget packages as described earlier in this issue:

![image](ht

[2017-09-20 12:07] NikolayPianikov commented on #69
@davestephens did you manually rename .nupkg files before uploading? I mean that the newest version of TeamCity.Dotnet.Integration is 1.0.31-beta

[2017-09-20 12:08] NikolayPianikov commented on #69
@davestephens did you manually rename .nupkg files before uploading? I mean that the newest version of TeamCity.Dotnet.Integration is 1.0.31-beta

[2017-09-20 12:31] NikolayPianikov opened #71 "Build step should be failed when there are no any targets to build"

[2017-09-20 14:19] davestephens commented on #69
The **only** integration package I installed was 1.0.31-beta, and that works fine.

The other three appeared after I installed the plugin and restarted TeamCity.

[2017-09-20 14:33] NikolayPianikov commented on #69
And what do they contain?

[2017-09-20 14:40] NikolayPianikov commented on #69
It is very strange. Could you please remove them all and upload `teamcity.dotnet.integration.1.0.31-beta.nupkg` again?

[2017-09-20 14:49] davestephens commented on #69
Each one has a skeleton unzipped nupkg (similar to as I described in the first comment in the issue) but the actual "thing" it is a package of appears to be nuget.exe - so each one is a different nuget version that we have installed on the server....another screenshot :)

![image](https://user-images.githubusercontent.com/668464/30650650-531e97f4-9e1b-11e7-88fc-2316e6ebaaa7.png)

[2017-09-20 15:14] NikolayPianikov commented on #69
@davestephens thanx, I will think :)

[2017-09-21 11:32] NikolayPianikov commented on #69
@davestephens could you try installing [this version](https://teamcity.jetbrains.com/viewLog.html?buildId=1175724&tab=artifacts&buildTypeId=TeamCityDotnetCorePluginBuild) and if it is possible I would like to look at file `teamcity-server.log` from your TeamCity build server

[2017-09-21 11:37] davestephens commented on #69
No probs, will have to be tomorrow now though. Do you want me to remove the random dotnet integration plugins that appeared after installing the last plugin first?

[2017-09-21 11:45] NikolayPianikov commented on #69
Yes please, let's try to make a pure experiment

[2017-09-21 15:02] NikolayPianikov opened #72 "Invalid versions of Integration package appeared during installation of tool"
See https://youtrack.jetbrains.com/issue/TW-51538 and #69

[2017-09-21 15:19] NikolayPianikov commented on #69
I've added new issue into the tracker and done some fixes, and I hope it helps. Fixes are in the `master` branch now and I will make a new release soon. So try [it](https://teamcity.jetbrains.com/viewLog.html?buildId=1176058&buildTypeId=TeamCityDotnetCorePluginBuild&tab=artifacts) and if there are something is wrong let me know please

[2017-09-21 15:44] NikolayPianikov opened #73 "Add command to build using Visual Studio"
See https://youtrack.jetbrains.com/issue/TW-5385

[2017-09-22 19:39] #71 closed

[2017-09-22 21:26] capiono commented on #40
Moving my local nuget to the same box I have team city, resolved this issue.

[2017-09-22 21:26] #40 closed

[2017-09-25 11:40] #73 closed

[2017-09-25 12:37] #72 closed

[2017-09-25 13:00] NikolayPianikov opened #74 "Configure all child processes associated with the job to terminate when the parent is terminated"
Just use runAs with current user

[2017-09-26 11:29] NikolayPianikov opened #75 "Support auto-detection for ANT-style targets"

[2017-09-26 16:30] gHoodlum opened #76 "Installed Dotnet Core plugin and selected .Net build runner then nothing"
I have installed the Dotnet-core-plugin. After following a similar issue (TW-51538) I assume that after selecting the .Net build runner I should see configuration options, but after selecting it nothing happens. Configuration options don't show up and I can't save the new configuration either. Options do show up for every other build runner. We have TeamCity Enterprise 2017.1.4 (build 47070) insta

[2017-09-26 18:08] NikolayPianikov commented on #76
@gHoodlum could you share steps to reproduce and screenshot of you build step

[2017-09-26 19:18] gHoodlum commented on #76
Things have changed a little since I first posted this. I was trying to make changes to an existing project when I was getting this issue. I deleted the project and started from scratch.

First, I create a new project from a repository URL.
It automatically discovers 3 build steps.
![image](https://user-images.githubusercontent.com/26724675/30879480-20f963e0-a2c5-11e7-936e-3d0c234560b2.png)

I sel

[2017-09-26 19:28] dtretyakov opened #77 "Restore (dotnet) suffix for .NET runner step"
It brings a bit more sense for new users who need to use `dotnet` CLI commands.

[2017-09-26 19:37] NikolayPianikov commented on #76
@gHoodlum thank you for info, looks like a bug, I am going to watch on it tomorrow

[2017-09-28 12:57] NikolayPianikov commented on #76
@gHoodlum what browser and what version did you use?

[2017-09-28 13:14] gHoodlum commented on #76
@NikolayPianikov I am using FireFox 55.0.3

[2017-09-28 15:49] NikolayPianikov commented on #76
@gHoodlum could you try [it](https://teamcity.jetbrains.com/repository/download/TeamCityDotnetCorePluginBuild/1182094:id/dotnet-core-plugin.zip)

[2017-09-28 15:52] NikolayPianikov opened #78 "Hide supporting of native MSBuild, VSTest, devenv under the "experimental feature" toggle"

[2017-09-28 15:54] NikolayPianikov opened #79 "Bundle the integration package to plugin and hide tooling"
hide tooling for non experimental mode only

[2017-09-28 16:26] NikolayPianikov opened #80 "Rename plugin"

[2017-09-28 16:32] #78 closed

[2017-09-28 18:31] gHoodlum commented on #76
@NikolayPianikov I tried creating a new project from scratch. When editing or adding build steps I get the following:

![image](https://user-images.githubusercontent.com/26724675/30983833-2dd892e2-a451-11e7-8238-bf5775a957be.png)

Do I need to download and install anything new?

[2017-09-28 19:42] NikolayPianikov commented on #76
@gHoodlum did you install [this](https://teamcity.jetbrains.com/repository/download/TeamCityDotnetCorePluginBuild/1182094:id/dotnet-core-plugin.zip) version?

[2017-09-28 20:03] gHoodlum commented on #76
@NikolayPianikov Sorry, I missed the link in the first message. I installed it and now I can see the configuration options. I will move forward and let you know if there are any more issues that pop up. Thanks for your help.

[2017-09-28 20:05] NikolayPianikov commented on #76
@gHoodlum thank you very match! Yes please any issues or suggestions

[2017-09-29 07:00] NikolayPianikov commented on #80
+ update README.md
+ update zip file names
+ update plugin page

[2017-09-29 07:58] #76 closed

[2017-09-29 13:26] dtretyakov commented on #77
Will be fixed as part of #80

[2017-09-29 13:26] #77 closed

[2017-09-29 13:57] #80 closed

[2017-09-29 14:20] dtretyakov opened #81 "dotnet restore/publish step failure"
Originally from https://plugins.jetbrains.com/plugin/9190--net-core-support by @Dobryak.

Whenever I try to use this plugin - it fails due to the file with rsp extension attached to command. For example:
[code]
If I run the same command on server in console - it also fails. If I remove RSP file - restore command goes well.

Same goes with publish:
[code]
What is this rsp file, what it does and how

[2017-09-29 18:45] mbenua-mparticle opened #82 "Test Adapter not working for net46+xUnit combo"
I'm seeing an issue with the very latest versions of the plugin where dotnet test is unable to find any tests in a net46 DLL using xUnit. I've verified the DLLs are there, and that netstandard2.0 tests DO seem to work correctly. This is the only difference I've been able to isolate.

This issue doesn't repro locally, nor does it repro on TeamCity if I do my build using a powershell script instead

[2017-09-30 19:10] NikolayPianikov commented on #82
@mbenua-mparticle fix it [here](https://teamcity.jetbrains.com/repository/download/TeamCityDotnetCorePluginBuild/1183470:id/dotnet-core-plugin.zip). It is not in the master branch yet

[2017-10-01 19:41] dtretyakov opened #83 "Detect available SDK versions"
For that can be listed child's of the directory `%programfiles%\dotnet\sdk`

[2017-10-02 13:35] #82 closed

[2017-10-02 16:13] gHoodlum opened #84 "Unable to publish to local TeamCity nuget feed"
Here is a new issue I am running into. I added a Nuget Pack build step to publish to our local Nuget feed, but the process errors out with a message of "Unable to find ''. Make sure the project has been built." I have attached the log and an image of the build configuration.

[ObjectMapper.Core_Build_5.log](https://github.com/JetBrains/teamcity-dotnet-plugin/files/1349531/ObjectMapper.Core_Build_5

[2017-10-04 11:40] davestephens commented on #69
OK, finally got this installed. Didn't get all the weird tools appear this time...will run it for a bit and get back to you.

[2017-10-04 13:47] #79 closed

[2017-10-04 13:54] NikolayPianikov commented on #83
@dtretyakov how will use this information?

[2017-10-04 14:12] NikolayPianikov commented on #81
which version of dotnet/SDK you are using?

[2017-10-04 14:30] akuryan commented on #81
1.0.0-preview2-003131

[2017-10-04 14:37] NikolayPianikov commented on #81
@akuryan prerelease versions are not supported
could you update your [dotnet CLI/SDK](https://www.microsoft.com/net/download/core)?

[2017-10-04 14:51] akuryan commented on #81
Aha, clear. I will try to do this :), but not sure when it will be done. BTW, can this be mentioned at readme.md at root of repository? Or maybe I missed this somewhere :(

[2017-10-04 14:52] NikolayPianikov commented on #81
@akuryan I am going to update reamde

[2017-10-04 15:03] davestephens commented on #69
Ok, since updating I now see:

[code]
Previously I'd get the test output to the console.

[2017-10-06 10:04] NikolayPianikov commented on #81
@akuryan could you close this ticket if updating solved your issue?

[2017-10-06 11:11] dtretyakov commented on #83
Users could write agent requirements which could depends on the detected SDK versions.

[2017-10-06 11:43] akuryan commented on #81
It was created by @dtretyakov  - I could not close it. But, updating solves an issue, so this one can be closed

[2017-10-06 12:38] bassebaba commented on #69
Hello. I'm sorry but I don't understand what step I'm missing.
I installed the plugin, did not get asked to do anything else.

When I try to build, this is the result:
[code]

This is what I installed:
https://plugins.jetbrains.com/plugin/9190--net-cli-support

How do I install the "Dotnet Integration" under tools? It's not selectable in the "+ Install tool" menu.

[2017-10-06 12:58] NikolayPianikov commented on #69
@bassebaba looks like current version has no bundled package. Please reload and reinstall plugin

[2017-10-06 13:12] bassebaba commented on #69
@NikolayPianikov Thanks for the fast fix & feedback!
![image](https://user-images.githubusercontent.com/5184772/31279261-bfc62702-aaa8-11e7-9fc2-56295e4b11f2.png)

[2017-10-06 15:06] cdibbs opened #85 "dotnet restore produces MSB1006 after upgrade to latest"
Following an upgrade to SNAPSHOT-20171002131949, we are unable to run `dotnet restore`. It throws the following error:
[code]

We use TeamCity 2017.1.2 and dotnet 2.0.0.

[2017-10-06 15:35] cdibbs commented on #85
Found the issue. Within the .rsp file, the build configuration name was passed in like so:

[code]
Seeing how the error message indicated that it thought "Test and Deploy" was its own switch, I removed the comma from our build configuration name, and the build worked fine.

[2017-10-06 16:39] cdibbs opened #86 "Circular dependencies error after upgrade"
Following an upgrade to SNAPSHOT-20171002131949, we are unable to run `dotnet publish`. It throws the following error:

[code]

We use TeamCity 2017.1.2 and dotnet 2.0.0.

As with my other issue, https://github.com/JetBrains/teamcity-dotnet-plugin/issues/85, this seems to be tied to the .rsp file, as these build steps used to work before the upgrade, and still do work without the .rsp (I can run d

[2017-10-07 01:11] cubanx commented on #81
I'm getting this error with the plugin using .Net Core 2.0.0. Should I file a new issue?

[2017-10-09 08:34] dtretyakov commented on #81
@cubanx, could you please share the teamcity .NET CLI plugin version and generated command line from the build log like in the first comment: `Starting: "C:\Program Files\dotnet\dotnet.exe" ...` ?

[2017-10-09 12:19] davestephens opened #87 "Dotnet test error message: Could not find a test logger with URI or FriendlyName 'logger://teamcity'."
During a `dotnet test` step, I now get the following:

[code]

This happens multiple times through a test phase.

TeamCity 2017.1 (build 46533)
Plugin version SNAPSHOT-20171009111201

Any help appreciated!

[2017-10-09 14:20] gHoodlum commented on #84
@NikolayPianikov, any help?

[2017-10-09 14:32] dtretyakov opened #88 "Warnings while .NET CLI plugin startup"
Lot's of warnings are produced while build agent start:

[code]

[2017-10-09 15:01] cubanx commented on #81
It's not just with restore/publish, it seems to be a lot of the commands. Here's the requested info with just a build:
[code]

[2017-10-09 15:05] cubanx commented on #81
Also, it works with this Command Line step:
```dotnet.exe build %solution_name%\%solution_name%.csproj -c Release```

[2017-10-09 16:13] #88 closed

[2017-10-09 16:13] #83 closed

[2017-10-09 16:15] dtretyakov commented on #63
Will be fixed on TeamCity side.

[2017-10-09 16:15] #63 closed

[2017-10-09 16:15] dtretyakov commented on #62
Will be fixed on TeamCity side.

[2017-10-09 16:15] #62 closed

[2017-10-09 17:21] NikolayPianikov commented on #85
@cdibbs fixed, just update your plugin

[2017-10-09 17:22] #85 closed

[2017-10-09 17:23] NikolayPianikov commented on #81
it seem to be fixed here #85, just update your plugin

[2017-10-09 17:27] NikolayPianikov commented on #86
@cdibbs try the new version, I've fixed issue with .rsp

[2017-10-09 17:32] NikolayPianikov commented on #87
@davestephens could you attach more info from log and share an absolute file name to .csproj and an absolute file name for testing assemblies

[2017-10-09 17:36] NikolayPianikov commented on #84
@gHoodlum sorry for delay, I've assign a person who can help

[2017-10-09 17:40] NikolayPianikov commented on #84
@gHoodlum try using the newest version of NuGet from [this page](https://www.nuget.org/downloads). Looks like 3.4.3 is too old for the new .net core project model

[2017-10-09 18:01] NikolayPianikov commented on #86
rsp. is required for backward compatibility with MSBuild runner. It has a lot of TeamCity parameters

[2017-10-10 07:56] dtretyakov commented on #84
@gHoodlum, standalone NuGet client works with .NET Core projects starting with version 3.5.

[2017-10-10 07:56] #84 closed

[2017-10-10 08:00] davestephens commented on #87
OK, so some more log below. Not sure what you mean by "share an absolute file name to .csproj and an absolute file name for testing assemblies" - please can you elaborate?

[code]

[2017-10-10 11:08] davestephens commented on #87
Also, since the latest version of the plugin, the box to specify the test assemblies seems to have disappeared?

![image](https://user-images.githubusercontent.com/668464/31383616-a28dc862-adb3-11e7-8c04-a369fdf6b28b.png)

[2017-10-10 11:28] NikolayPianikov commented on #87
@davestephens you can do it for `vstest` command

[2017-10-10 12:06] davestephens commented on #87
What about if we want to use nunit rather than MS tests?

[2017-10-10 12:11] NikolayPianikov commented on #87
Just use the [same approach](https://github.com/JetBrains/TeamCity.VSTest.TestAdapter) like for XUnit and MSTest

[2017-10-10 12:13] NikolayPianikov commented on #87
As workaround for this issue try building via .csproj for testing

[2017-10-10 16:17] NikolayPianikov commented on #87
Fixed and will be available soon. @dtretyakov could you notify about next release? I am not available during a week

[2017-10-10 16:17] #87 closed

[2017-10-10 21:05] NikolayPianikov commented on #87
@davestephens the new version is ready for downloading

[2017-10-10 21:14] davestephens commented on #87
Awesome, thank you - will try it tomorrow!

[2017-10-11 11:11] dtretyakov opened #89 "Use selector for .NET Coverage"
To be able to add other coverage tools we need to use selector instead of checkbox.

[2017-10-13 07:56] #89 closed

[2017-10-13 12:49] davestephens commented on #87
It works! :-) Thanks guys!
![image](https://user-images.githubusercontent.com/668464/31546934-528a846a-b01d-11e7-907e-1f6fe91805a5.png)

[2017-10-13 13:40] dtretyakov opened #90 "Group multiple runs in the build log"
Currently when using wildcards in the paths build log displays all runs as a flat list. We could group such CLI command runs as a separate groups in the log.

[2017-10-13 13:43] dtretyakov opened #91 "Duplicated number of tests"
While executing `dotnet test` for project [WindowsAzure](https://github.com/dtretyakov/WindowsAzure) in the build log logged correct number of executed tests, but on the Tests tab displayed duplicated entries:
[code]

![image](https://user-images.githubusercontent.com/1025927/31549065-467a60ea-b02d-11e7-8f02-6f0eb4a08df8.png)

[2017-10-13 15:29] dtretyakov commented on #91
The same happens with `dotnet vstest` command.

[2017-10-13 15:59] dtretyakov commented on #91
It seems that it was caused by data races while writing output:
![image](https://user-images.githubusercontent.com/1025927/31555133-2be293f2-b040-11e7-859c-9eaff7c841a9.png)

Can be reproduced in TeamCity 2017.1 and 2017.2 EAP.

[2017-10-13 20:37] mbenua-mparticle commented on #82
I don't have any permissions to download that zip file. Do you know when it will be in master, @NikolayPianikov ?

[2017-10-13 20:41] mbenua-mparticle opened #92 "Missing wiki page in help link"
On the Admin\Tools settings management page, the Help (?) button doesn't work.
![image](https://user-images.githubusercontent.com/25666582/31565568-19167fd2-b01c-11e7-9c2f-e32280e2d1f4.png)

It goes to here, which is a 404: https://confluence.jetbrains.com/display/TCD10/DotnetIntegration

[2017-10-14 00:08] NikolayPianikov commented on #82
@mbenua-mparticle try [this link](https://plugins.jetbrains.com/plugin/9190--net-cli-support)

[2017-10-16 10:21] #91 closed

[2017-10-16 10:32] dtretyakov commented on #92
@mbenua-mparticle, thanks for reporting. In the next version "Dotnet Integration" tool will be bundled in .NET CLI plugin, so dedicated documentation page for it would not be created.

[2017-10-16 10:32] #92 closed

[2017-10-16 17:06] gHoodlum opened #93 "Still can't publish to local Nuget feed"
I initially reported this in issue #84 but was not able to get to back to try your solution until today.
I tried to do the build with 3 different versions of Nuget.exe and received 3 different errors.

Here are screen shots from the logs showing the results.

Nuget.exe 3.4.3
![343error](https://user-images.githubusercontent.com/26724675/31624919-e107f404-b269-11e7-8832-fd8d8f4e5095.PNG)

Nuget.exe

[2017-10-16 20:45] dtretyakov commented on #93
@gHoodlum, did you tried to create a NuGet package via `dotnet pack` build step and then push it via `dotnet nuget push`?

[2017-10-19 07:10] NikolayPianikov commented on #86
@cdibbs any updates?

[2017-10-19 07:11] NikolayPianikov commented on #81
@cubanx any updates?

[2017-10-19 11:26] NikolayPianikov opened #94 "Update bundled integration package to 1.0.37"

[2017-10-19 11:30] #94 closed

[2017-10-19 11:34] #81 closed

[2017-10-19 12:52] NikolayPianikov opened #95 "Change temp directory for generating .rsp files"
From buildTemp to agentTemp

[2017-10-19 13:36] #90 closed

[2017-10-19 13:44] dtretyakov opened #96 "Add toggle between Tests and TestCaseFilter in vstest command"
VsTest does not support both filters simultaneously, so we need to introduce toggle between them:
https://msdn.microsoft.com/en-us/library/jj155796.aspx?f=255&MSPPError=-2147217396

[2017-10-19 13:45] #95 closed

[2017-10-19 14:40] cdibbs commented on #86
@NikolayPianikov Thanks for reminding me about this. I was pulled onto other work for a bit. How does the version at https://plugins.jetbrains.com/plugin/9190--net-cli-support follow the ones listed, here? Is what's there, now, equivalent to 0.9.2? Thanks!

[2017-10-19 14:55] NikolayPianikov commented on #86
yes, but 0.9.2 does not contain latest fixes, try the latest version from [here](https://plugins.jetbrains.com/plugin/9190--net-cli-support)

[2017-10-19 16:25] dtretyakov opened #97 "Add Kotlin DSL for plugin"
We need to add Kotlin DSL for plugin. [Example file](https://github.com/JetBrains/teamcity-powershell/blob/master/Powershell.xml).

[2017-10-20 00:46] cdibbs commented on #86
Ok, we installed the latest, and that altered the output somewhat, but it still gives the same basic circular deps error. It now says build succeeded and then build failed in the same breath (the same run of the dotnet tool).

Again, without the .rsp file, the publish command works fine. Adding it back causes the error. Here's the full output of that build step: https://gist.github.com/cdibbs/22c7

[2017-10-20 11:23] #97 closed

[2017-10-20 12:37] dtretyakov opened #98 "Warning in server log while start"
Now on TeamCity server start causes warning:
[code]

[2017-10-20 12:53] NikolayPianikov commented on #86
@cdibbs Is it possible to share some simple solution to reproduce?

[2017-10-20 13:52] #98 closed

[2017-10-20 16:22] cdibbs commented on #86
I ended up taking a binary search approach to manually modifying the .rsp file left in `BuildAgent/temp/buildTmp`. I would delete half the lines in it, and rerun the command to see if it succeeded. If it failed, I would subdivide and repeat.

The error came from a system parameter that had accidentally been left in (we originally created this build configuration from an older version of this proje

[2017-10-20 16:22] #86 closed

[2017-10-23 10:30] dtretyakov opened #99 "For all commands stored dotCover CLT tool version"
It seems that it's not necessary to explicitly set default value for parameter `dotCover CLT Home Directory` into "%teamcity.tool.JetBrains.dotCover.CommandLineTools.DEFAULT%" which leads to storing it in every command:

![image](https://user-images.githubusercontent.com/1025927/31884616-fe703b3a-b7ed-11e7-9136-4ef32ec7ff23.png)

[2017-10-24 10:34] Red-Folder commented on #91
@dtretyakov I am seeing a similar duplication of test results from dotnet test

You've marked this (and the referenced issue) as closed.  Can you tell me if there has been a fix?  And if so, which version would it be in?

Please let me know if you need me to share more about the details of my issue (repo, logs, versions, etc)

[2017-10-24 12:39] dtretyakov commented on #99
Will be fixed in TeamCity core

[2017-10-24 12:39] #99 closed

[2017-10-24 13:29] NikolayPianikov opened #100 "Improve auto discovery"
Support `build` command for `.sln`

[2017-10-24 14:54] dtretyakov commented on #91
@Red-Folder, currently you could [download snapshot plugin build](https://teamcity.jetbrains.com/viewType.html?buildTypeId=TeamCityDotnetCorePluginBuild&guest=1) with a fix.

[2017-10-24 14:57] gHoodlum commented on #93
I don't see a dotnet pack option. Is that something that needs to be added/installed?

[2017-10-24 15:08] dtretyakov commented on #93
@gHoodlum, you are trying to create your package via `NuGet Pack` step, you need to use `.NET CLI (dotnet)` build step instead and select `pack` command option in it:
![image](https://user-images.githubusercontent.com/1025927/31951251-dd6efcb4-b8dd-11e7-890b-5d9557b25720.png)

[2017-10-24 16:20] Red-Folder commented on #91
@dtretyakov Worked perfectly.  Problem solved.  Much thanks

[2017-10-25 13:27] maartenmensink opened #101 "Running Unit test is taking very long time"
We run NUnit test with dotnet test throught the lastest.

It is taking ages before the unit test run on the build server while locally the unit test run within 7 seconds. The build server takes at least 120 seconds pulse before even running the first unit test.

After some digging around we located a .rsp file which contained a path the VsTestTestApaterPath which is added by the plugin to the work

[2017-10-25 15:00] dtretyakov commented on #101
@maartenmensink, could you please also report .NET CLI plugin version?

[2017-10-25 15:03] maartenmensink commented on #101
@dtretyakov SNAPSHOT-20171010161822

[2017-10-27 13:53] lxalln commented on #101
I'm experiencing very slow unit test execution from this plugin too:

.NET CLI plugin version: SNAPSHOT-20171027110132
TeamCity: 2017.1.3 (build 46961)

[code]

There is nearly 4 minutes of silence after 'starting test execution' until xUnit is start it's counting.
Was previously using version 0.8 (I think) of the plugin, and this was definitely not a problem then.

[2017-10-30 17:00] samfozz opened #102 "nuget push - "error: File does not exist" on windows agent"
When using the "nuget push" command on a Windows agent, I get a "file not found" error relating to one of the input .nupkg files :

![image](https://user-images.githubusercontent.com/19477573/32183914-88c5eb14-bd92-11e7-8df9-56bf0e053244.png)

Here's my configuration - note how the .nupkg files are found by teamcity. This configuration works fine on my Ubuntu agent.

![image](https://user-images.g

[2017-10-31 00:34] Netsmurf commented on #102
I'm are experiencing the same issue.

[2017-10-31 02:40] danilobreda commented on #102
same issue here

[2017-10-31 02:43] danilobreda commented on #102
@dtretyakov please, speed up on this, i think this is a breaking change on the code...its affecting on production for some reason... i will try to downgrade it, but i dont know if this is the best solution right know, nor this will work.

[2017-10-31 03:31] danilobreda commented on #102
@dtretyakov  problem is not the wildcard, manual file specification show the same error. Master and Indore-2017.1.x affected.

[2017-10-31 03:34] Netsmurf commented on #102
@danilobreda We've reverted back to using the Nuget Publish runner to publish the nuget packages for the time being.  Not sure if that's a possible work around for you.

[2017-10-31 08:27] dtretyakov commented on #102
@NikolayPianikov, do we need to append `@C:\\... .rsp` parameter at the end in nuget push command?

[2017-10-31 14:49] #100 closed

[2017-10-31 14:50] NikolayPianikov opened #103 "Auto generate step names during auto discovery"
https://youtrack.jetbrains.com/issue/TW-52195

[2017-10-31 15:35] NikolayPianikov commented on #103
Also parse prop `GeneratePackageOnBuild` for publish command

[2017-11-02 12:57] #103 closed

[2017-11-02 22:57] bzier opened #104 "Dotnet (MSBuild) Properties Issue with Newlines"
@NikolayPianikov @dtretyakov
This issue is similar to #81 & #85, but both of those are indicated as being closed/fixed with the latest plugin. I am encountering a very similar issue with plugin `0.9.4`.

Mentioned in #85, the problem seemed to be around the comma in the build step name. In my case, the problem is newlines in a parameter value. We are using a parameter specified in the build config

[2017-11-03 07:54] SirGordon commented on #47
I was able to do this using runner type "Command Line" (not dotnet CLI but OS command line) and in custom script i wrote "dotnet ef migrations add Initial" for example, and it got called. I got other erros but i think i can fix them.

[2017-11-03 12:23] maartenmensink commented on #101
@dtretyakov any update on this?

[2017-11-03 16:24] dtretyakov commented on #101
@maartenmensink, we're investigating the cause of it. Since version 0.8 was added support of vstest listener which could affect performance.

[2017-11-04 01:18] srikanthdasari opened #105 "error MSB4216: Could not run the "GenerateResource" task because MSBuild could not create or connect to a task host with runtime "CLR4" and architecture "x86"."
Hi,

Help please, i am getting this error, while i am trying to build dotnet core app in teacmcity.

[2017-11-07 13:33] NikolayPianikov opened #106 "Steps' auto discovery should not generate existing steps"

[2017-11-07 13:45] dtretyakov commented on #105
@srikanthdasari, could you please describe steps to reproduce it:
* Plugin version
* TeamCity version
* .NET CLI installed on this build agent machine
* part of build log where your build step is failing?

Do you have [global.json](https://docs.microsoft.com/en-us/dotnet/core/tools/global-json) file in your repository?

[2017-11-07 13:47] dtretyakov commented on #93
@gHoodlum, did you managed to make it work?

[2017-11-08 02:54] srikanthdasari commented on #105
@dtretyakov  thanks for responding...

Plugin version is
![image](https://user-images.githubusercontent.com/7415989/32529277-a0dab404-c405-11e7-9ec7-dedd30e4246c.png)

Teamcity Version - 2017.1.5 (build 47175)

Yes CLI installed in this build agent...and the agent is compatible..

![image](https://user-images.githubusercontent.com/7415989/32529340-03abf7fa-c406-11e7-83f8-e256a11a9024.png)

I dont

[2017-11-08 12:21] dtretyakov commented on #105
@srikanthdasari, thanks for repro. You have in this solution WPF project which is [not supported by msbuild in .NET Core SDK](https://github.com/dotnet/cli/issues/6732). You could leave a comment in the mentioned issue to let MSFT know that you need it.

Publishing will work only with `WpfSampleProj2.Lib` and `WpfSampleProj2.Services` projects which is netstandard projects.

Also you could take a

[2017-11-08 13:06] NikolayPianikov opened #107 "Support smart sorting for msbuild targets"

[2017-11-08 13:10] #107 closed

[2017-11-09 14:28] vsamma opened #108 "Question: Is it possible to install dotnet-cli to TC version 10.0.5?"
Is it somehow possible to install the dotnet-cli plugin to an older TeamCity version?

We are currently using TeamCity 10.0.5 (build 42677). We have more than 10 projects with multiple applications/environments and as we want to add one new project, which is on .NET Core 2.0, we would need the dotnet CLI.

As far as I can understand, we need this plugin and for the plugin we need TC to have a vers

[2017-11-09 15:11] dtretyakov commented on #30
Issue in the TeamCity tracker: TW-52337

[2017-11-13 13:20] NikolayPianikov commented on #108
@burnasheva we should also check other special symbols like \r \n \t \b !@#$%^&*()_+=-|\/ and etc. All these symbols should be accessible from to msbuild variables. Project to check for `system.myVar`:

[code]

[2017-11-13 13:20] #108 closed

[2017-11-13 13:25] NikolayPianikov commented on #104
@burnasheva we should also check other special symbols like \r \n \t \b !@#$%^&*()_+=-|/ and etc. All these symbols should be accessible from to msbuild variables. Project to check for system.myVar:

<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="14.0" DefaultTargets="Build" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <Target Name="Build">
	<Message Text="$(myVar)

[2017-11-13 13:25] #104 closed

[2017-11-13 13:27] vsamma commented on #108
Okay, this thread can be closed because I eventually upgraded the TC and got the plugin to work but just wanted to mention that @NikolayPianikov you probably answered to the wrong question? At least for me your answer does not make sense at all (at least as an answer to my question). :)

[2017-11-13 13:28] NikolayPianikov commented on #108
Unfortunately TeamCity 2017+ are only supported

[2017-11-13 13:29] NikolayPianikov commented on #108
Sorry I close this ticket by mistake, but ok

[2017-11-13 13:42] NikolayPianikov commented on #101
Is it possible to share some minimal solution to reproduce?

[2017-11-16 10:54] NikolayPianikov opened #109 "To not inject TeamCity vstest logger to any directories outside checkout directory"
- rename a dir for injection
- add read.me to this dir
- clean checkout before build
- add log info

[2017-11-16 12:31] NikolayPianikov opened #110 "Can't run tests for project outside the TeamCity checkout directory"

[2017-11-16 12:59] #110 closed

[2017-11-16 12:59] NikolayPianikov commented on #110
Moved to https://youtrack.jetbrains.com/issue/TW-52485

[2017-11-16 14:02] maartenmensink commented on #101
@NikolayPianikov We will try to create minimal reproducible solution.

[2017-11-16 15:24] #109 closed

[2017-11-17 10:08] NikolayPianikov commented on #101
We have the following cases:
1 - .net core projects
2 - .net full framework projects

TeamCity
- should add its custom logger/adapter to provide on the-fly-test reporting via TeamCity service messages
- should not hide any tests specific adapters (xunit/mstest and so on)

Case 1: test host for .net core tries finding loggers by the name `*TestLogger.dll` or `*TestAdapter.dll`:
- in the bin/restore

[2017-11-17 12:24] JanKolk commented on #101
@NikolayPianikov We figured out what had impact on the test time. We have 2 angular projects with NPM packages.

**Result with 2 angular projects with downloaded NPM packages**

[13:04:07][test] Starting test execution, please wait...
[13:05:34][test] NUnit Adapter 3.9.0.0: Test execution started

**Result after deleting the 2 projects with all NPM packages**

[13:10:46][test] Starting test execut

[2017-11-17 12:27] NikolayPianikov opened #111 "Add ability to switch off test logger"
Configuration parameter `dotnet.cli.test.reporting`
`on` or empty - to use logger
`off` - to turn off it

User could add this [package reference](https://github.com/JetBrains/TeamCity.VSTest.TestAdapter) to have a test reporting when `dotnet.cli.test.reporting=off`

[2017-11-17 12:48] NikolayPianikov commented on #101
@JanKolk thank you.

We decided to add configuration parameter to switch off logger's injection [here](https://github.com/JetBrains/teamcity-dotnet-plugin/issues/111)

In this case you could add this [package reference](https://github.com/JetBrains/TeamCity.VSTest.TestAdapter) to have test reporting.

In the future we a going to find other way

[2017-11-17 14:39] #111 closed

[2017-11-19 15:35] Idanby commented on #102
I'm experiencing the same issue.

[2017-11-19 15:38] NikolayPianikov commented on #102
@Idanby the latest version has not rsp file at all. Could you share build log and plugin version?

[2017-11-19 15:48] Idanby commented on #102
@NikolayPianikov Build 'Octopus :: coreServices :: BuildCoreServices' #30
Started 2017-11-16 11:27:47 on 'WIN-N1UKR2AO5EV' by 'Idan (***)'
Finished 2017-11-16 11:28:00 with status FAILURE 'Failure'
VCS revisions: 'https://***@bitbucket.org/***/coreservices.git#refs/heads/master' (Git): 7032990f24effd4b5d43d402bbf0f7dba7452b5e (branch 'refs/heads/master')
TeamCity URL https://build.***application.c

[2017-11-19 15:56] NikolayPianikov commented on #102
Make sure `***.Common\bin\Release\***.Common.1.0.0.nupkg` exists before publishing

[2017-11-19 15:57] Idanby commented on #102
@NikolayPianikov It's exist. I see the file in the server.

[2017-11-19 16:02] NikolayPianikov commented on #102
Ok. Try running this command from the command line ` "C:\Program Files\dotnet\dotnet.exe" nuget push ...` on the TeamCity agent

[2017-11-19 16:16] Idanby commented on #102
@NikolayPianikov I just executed this line: C:\Program Files\dotnet\dotnet.exe nuget push D:\TeamCity\buildAgent\work\a8df9bc36931db18\***.Common\bin\Release\GamEffective.Common.1.0.0.nupkg --api-key MyApiKey --source https://octopus.***.com/nuget/packages

And it's working... :\

[2017-11-19 16:28] NikolayPianikov commented on #102
But what if you run with .rps? As I say the latest version does not contain it I just want to be sure that .rsp is a cause of issue

[2017-11-20 07:43] Idanby commented on #102
@NikolayPianikov Run to compilation with .rsp
C:\Program Files\dotnet> dotnet.exe nuget push D:\TeamCity\buildAgent\work\a8df9bc36931db18\***.Common\bin\Release\***.Common.1.0.0.nupkg --api-key MyApiKey --source https://octopus.***.com/nuget/packages @D:\\TeamCity\\buildAgent\\temp\\agentTmp\\84673605af5748a6bed2c46509c05ebb.rsp

info : Pushing ***.Common.1.0.0.nupkg to 'https://octopus.***.com/nu

[2017-11-20 07:50] NikolayPianikov commented on #102
@Idanby I've updated references. Try downloading again

[2017-11-20 08:10] NikolayPianikov commented on #102
@Idanby according to your experiment, it seems to be the issue is not in the .rps file.  Another one assumption is - Windows account and its environment somehow impact on push results. Is it possible to run this command under the TeamCity agent's Windows account?

[2017-11-20 08:19] NikolayPianikov opened #112 "Add debug logging"

[2017-11-20 08:29] Idanby commented on #102
@NikolayPianikov I will try and keep you updated.

[2017-11-20 08:33] Idanby commented on #102
@NikolayPianikov while I'm checking I would like to let you know that I changed the build step (Runner type) to "NuGet Publish" and it's works fine so it's seems that isn't permission issue.

[2017-11-20 10:53] Idanby commented on #102
Sorry but after discussion with my manager it will be a problem to run the agent under different account because the server is prod server.
I will try install the latest plugin on sandbox env and keep you updated.

[2017-11-20 16:16] dtretyakov opened #113 "DSL for coverage only works in TeamCity 2017.2"
So we need to remove coverage DSL from 2017.1 branch. It causes following errors:
[code]

[2017-11-20 16:19] #113 closed

[2017-11-21 22:25] aaltotsky opened #114 "Combine unit tests result in the View Build Result screen"
I have two unit tests c# projects.  To run tests I'm using:
".NET CLI (dotnet)" the "test" command for projects with the "wildcards" such as **/*.Test/*.Test.csproj

Tests from both projects ran fine, but on the View Build Results page, I see the "Overview Result" with a number of tests only from one of the project.

Is it possible to combine the number of total passed tests on the summary view?

[2017-11-21 22:51] aaltotsky commented on #114
Never mind. My mistake. Everything is working correctly.

[2017-11-21 22:51] #114 closed

[2017-11-22 05:17] svenkle opened #115 "Command dropdown and options missing"
After updating from SNAPSHOT-20171103111144 to any version I can no longer see the command dropdown. This impacts existing steps and newly created steps.

Before:
![image](https://user-images.githubusercontent.com/3377341/33111122-4b1f3df4-cfa0-11e7-9983-f9f882a73436.png)

After:
![image](https://user-images.githubusercontent.com/3377341/33111147-7fb97a66-cfa0-11e7-8999-483e152e03e0.png)

I've rol

[2017-11-27 10:52] dtretyakov commented on #115
@svenkle, thanks for reporting it. Could you please try to [download the latest plugin build for TeamCity 2017.1](https://teamcity.jetbrains.com/viewType.html?buildTypeId=TeamCityDotnetCorePluginBuild&guest=1) and let me know if this problem was resolved.

[2017-11-27 10:58] dtretyakov commented on #93
@gHoodlum, if it's still actual please let us know and we'll re-open it.

[2017-11-27 10:58] #93 closed

[2017-11-27 10:58] #9 closed

[2017-11-28 05:57] svenkle commented on #115
Looks like its all working now!

[2017-11-28 05:57] #115 closed

[2017-11-30 16:41] cod7alex commented on #91
was the fix for this issue released?

[2017-11-30 22:53] gHoodlum commented on #93
I haven't been able to get it to work. Haven't tried for a few weeks
because of other priorities.

On Mon, Nov 27, 2017 at 4:58 AM, Dmitry Tretyakov <notifications@github.com>
wrote:

--
Thank you,
Greg Hood

[2017-12-01 10:32] senritsu opened #116 "restore fails for dotnet SDK 1.x"
With the `project.json` based project format, restore fails after update to 2017.2 and automatic change to this plugin from the old .Net Core plugin.

[code]

Probably related to a few of the comments on the plugin download page (https://plugins.jetbrains.com/plugin/9190--net-cli-support) who also had issues with the sudden addition of the `.rsp` file parameter to the dotnet commands.

[2017-12-01 11:01] dtretyakov commented on #91
@cod7alex, yes for TeamCity 2017.1.x you could download the latest plugin version from https://plugins.jetbrains.com/plugin/9190--net-cli-support

TeamCity 2017.2 [has bundled .NET CLI plugin](https://www.jetbrains.com/teamcity/whatsnew/#v2017-2-net-cli-support) with a fix.

[2017-12-01 11:05] dtretyakov commented on #93
@gHoodlum, it would be great to have a small demo to reproduce it on our side. It seems that something wrong with this csproj file since standalone NuGet could not pack it.

Whats the error reported by `.NET CLI (dotnet)` build step with `Pack` command selected?

[2017-12-01 13:10] cod7alex commented on #91
@dtretyakov thank you very much

[2017-12-01 15:13] dtretyakov commented on #116
@senritsu, thanks for reporting this problem.

[2017-12-03 03:35] srikanthdasari commented on #105
@dtretyakov thanks its working fine if i remove the WPF project...

but it would be great if i have option which could work with both core and non core projects..

[2017-12-04 14:43] dtretyakov commented on #105
@srikanthdasari, for solutions with mixed projects Microsoft recommends to use standalone MSBuild from Visual Studio or Build tools for Visual Studio.

For that you could leverage MSBuild step in your TeamCity build configuration.

[2017-12-05 10:31] #28 closed

[2017-12-05 10:32] #30 closed

[2017-12-06 02:47] RickyLin commented on #47
It would be useful if the "Command" field can also be blank because I want to run a compiled .net core assembly like this: `dotnet.exe MyCompiledDotNetCoreAssembly.dll OneParameter TwoParameter`, not `dotnet.exe run`, not `dotnet.exe ef`, just `dotnet.exe`.

[2017-12-06 06:56] SirGordon commented on #47
@RickyLin did you try to add ".NET Process Runner" build step?

[2017-12-06 13:08] RickyLin commented on #47
@SirGordon Yes. But it seems to be used for full .NET Framework 2.0, 3.5, 4.x, not for .NET Core. Anyway, I can also use "Command Line", so it's not a huge problem but I mentioned it here to show one more scenario besides "dotnet ef" 😆

[2017-12-07 10:34] NikolayPianikov commented on #116
@senritsu what version dotnet core/sdk/VS tooling are you using?  As I know the newest version of tooling for VS 2015 is `preview 2` and it is not quite convenient for us to support preview/beta. Microsoft has dropped support for the project.json and we would like to do the same. [They are encouraging](https://blogs.msdn.microsoft.com/dotnet/2017/03/07/announcing-net-core-tools-1-0/) everyone doin

[2017-12-07 14:50] senritsu commented on #116
It was a VS15 project using `1.1 with SDK Preview 2.1 build 3177`. We are migrating to `.csproj` based core 2 already, but depending on the project size it can take some time. While i can understand that supporting it is a difficult decision, Microsoft themselves label all of the 1.x versions as LTS, so support is not quite dropped yet, even if they are (understandably) trying to phase it out as f

[2017-12-07 19:46] jesuissur commented on #101
Hi there

This problem seems worst when we plug dotcover into it.  I've got the same testing build step but one has dotcover configured and this config takes 3-4 times longer (3 minutes to 12).

Maybe it is because with dotcover activated, we use the Assembly filters who might search for Adapter everywhere.

@NikolayPianikov where do we set the dotnet.cli.test.reporting=off settings?  Is it a buil

[2017-12-07 19:56] NikolayPianikov commented on #101
@jesuissur it is configuration parameter in a build, see this [page](https://confluence.jetbrains.com/display/TCD10/Configuring+Build+Parameters)

yes dotCover significantly decreases a tests performance

[2017-12-07 20:16] jesuissur commented on #101
Yes, dotCover is longer than without coverage but here the steep rise we got with the same build before and after the latest TeamCity upgrade (2017.2)
![image](https://user-images.githubusercontent.com/136296/33736689-8bbbb12c-db61-11e7-8b0b-74b264828cb5.png)

[2017-12-07 20:20] NikolayPianikov commented on #101
@jesuissur could you attach build log file before and after upgrade?

[2017-12-07 21:28] jesuissur commented on #101
I'll start with a build log sample.  If you'd like more, just let me know.

**Before**

[11:01:34][Step 5/15] test (42s)
[11:01:34][test] Starting: C:\DevTools\TeamCity\buildAgent\tools\JetBrains.dotCover.CommandLineTools.2017.3.0-eap07\dotCover.exe cover C:\DevTools\TeamCity\buildAgent\temp\buildTmp\5924c273a55e4e91b103f257cb673e5e.dotCover /ReturnTargetExitCode /NoCheckForUpdates /AnalyzeTargetA

[2017-12-07 21:35] jesuissur commented on #101
@NikolayPianikov As soon as I added the dotnet.cli.test.reporting parameter, it went back to the normal running time.  👍 for the workaround

[2017-12-12 11:27] renatotkr opened #117 "Run already compiled .dll"
Is it possible to run an already compiled  .dll with .NET CLI (dotnet) build step?

I've tried command run and did not work, to work properly there is no need to pass a command

example
dotnet x.dll "parameter"

I can use command line, just wanted to know if there is another way

Thanks!

[2017-12-12 11:32] dtretyakov commented on #101
Another possible workaround is to use `vstest` command instead of `test` since it supports more precise test adapter path declaration.

[2017-12-12 11:37] dtretyakov commented on #117
@renatotkr, thanks for reporting. This use case was mentioned in the https://github.com/JetBrains/teamcity-dotnet-plugin/issues/47#issuecomment-349514037

Currently for that could be used command line build step.

[2017-12-12 11:37] #117 closed

[2017-12-13 19:58] ortrails opened #118 "dotnet mywebsite.dll"
How do I run the above command using the plugin? If it is possible could instructions be added to the readme file?

[2017-12-13 20:31] dtretyakov commented on #118
@ortrails, currently you do that as mentioned in comment: https://github.com/JetBrains/teamcity-dotnet-plugin/issues/47#issuecomment-341639653

We'll implement the ability to specify custom commands in future.

[2017-12-13 20:31] #118 closed

[2017-12-14 11:23] maartenmensink commented on #101
closing this work around available

[2018-01-02 00:23] tofutim commented on #13
I'm using TeamCity Professional 2017.1. I added teamcity.nuget.feed.filter.targetframework=false. I am generating nupkg using the VS2017 option.

![image](https://user-images.githubusercontent.com/157766/34472151-f4033158-ef0f-11e7-845e-6998dcc14740.png)

I can see the nupkg in the work folder under /bin/Debug but how can I get the artifacts to pick up so that they work on my internal server?

![i

[2018-01-10 10:03] dtretyakov commented on #13
@tofutim, if you are using .NET CLI plugin to build these nuget packages then you could use following ways to publish packages:

### dotnet nuget push
![image](https://user-images.githubusercontent.com/1025927/34766197-f2079f66-f5f3-11e7-8a89-6e3876bed28c.png)

### NuGet Publish
![image](https://user-images.githubusercontent.com/1025927/34766325-519a0d06-f5f4-11e7-8705-bbefb9f1b87c.png)

### Artif

[2018-01-16 14:11] NikolayPianikov commented on #116
To switch off usage of .rsp files add the configuration parameter `dotnet.cli.rsp=false`.
But in this case some of features of TeamCity like System Parameters will be not available. Also the length of a command line will be significantly increased and it could be a reason of some issues.
It is available in `master` now

[2018-02-15 23:39] mbenua-mparticle opened #119 "dotnet test fails on test SLN"
dotnet test allows you to run it on an SLN as of at least the 2.0 tooling (provided the SLN ONLY contains test projects). This is by several orders of magnitude the most efficient way to run tests, since it will run all test csproj in parallel, just like doing a build of an SLN will do.

However, the latest version of this plugin does not support this and throws a 'please specify a csproj' error w

[2018-02-16 00:00] dtretyakov commented on #119
@mbenua-mparticle, could you please specify your TeamCity and plugin versions?

[2018-02-16 17:27] mbenua-mparticle commented on #119
Hi @dtretyakov - all the bundled plugins are version 50732, which appears to be the same version as our TC install.

[2018-02-20 16:34] theerikpowell commented on #47
Being able to enter a custom command like `dotnet lambda package` would be particularly useful.

https://github.com/aws/aws-lambda-dotnet/blob/master/Libraries/src/Amazon.Lambda.Tools/README.md

[2018-02-23 18:50] mbenua-mparticle commented on #119
Any other info you need? This is especially important to us, because running our unit tests via SLN takes about 2 minutes, and running them using the *.csproj method with the plugin takes about 15 minutes, so it's an enormous time savings.

[2018-02-26 12:58] dtretyakov commented on #119
@mbenua-mparticle, thanks for providing details. We'll support the case with sln file in the next plugin version.

Please note that there'is a [performance problem](https://github.com/Microsoft/vstest/issues/1319) with `dotnet test` which causes slow tests execution. Currently you could use the following workarounds:
* Add explicit reference on teamcity test adapter in all test projects and add bu

[2018-02-26 19:23] #116 closed

[2018-02-27 02:26] mbenua-mparticle commented on #119
Thanks! Looking forward to it, so we no longer have to do our workarounds.

[2018-03-02 15:10] jimasp opened #120 "TC 2017.2.2 failing to build .Net Core 1.0 projects"
We've recently upgraded to TeamCity 2017.2.2

All builds using .Net Core 2.0 work fine, but we have TC some projects that use .Net Core 1.0 (specifically 1.0.0-preview2-003133 SDK).

These TC projects fail to build like this:

Step 4/12: Restore (.NET CLI (dotnet))
[11:10:27]	[Step 4/12] dotnet.exe restore --source https://www.nuget.org/api/v2/ @C:\BuildAgent\temp\agentTmp\5ff2e6f6e75e400d8597def4

[2018-03-05 10:23] Sovent commented on #30
Hello. Is there any forecast for this feature implementation?

[2018-03-05 10:32] dtretyakov commented on #30
@Sovent, it deeply depends on https://github.com/NuGet/Home/issues/5447, so you could comment on it and try to pay MSFT attention on it.

[2018-03-06 15:51] NikolayPianikov opened #121 "Suppress of configuring the VSTest environment for not related dotnet commands"
Also see the related issue: https://youtrack.jetbrains.com/issue/TW-53018

We should configure VSTest environment only for:
- `msbuild`
- `test`
- `build`

`vstest` command should work without any configurations because of it uses absolute path to the TeamCity test logger

[2018-03-07 10:10] #121 closed

[2018-03-19 14:40] NikolayPianikov commented on #120
@jimasp
unfortunately TeamCity 2017.2.2 does not contain this fix, so upgrade it to 2017.2.3 or update just plugin downloading it from [this](https://teamcity.jetbrains.com/repository/download/TeamCityPluginsByJetBrains_DotnetCLI_20172/.lastSuccessful/dotnet.cli.zip?branch=master&guest=1) url

[2018-03-19 21:50] mbenua-mparticle commented on #119
Any update? We've switched to using the new .net 2.1 preview, and now our tests via SLNcan takes as little as 2 minutes, while running using the dotnet plugin takes around 30 minutes.

Also, I'm now running this on my TC command (directly via Powershell) and it's working pretty well:
C:\BuildAgent\tools\JetBrains.dotCover.CommandLineTools.bundled\dotCover.exe analyse /TargetArguments="test tempbui

[2018-03-20 12:32] NikolayPianikov opened #123 "Common Failure Conditions has no influence on build step results"
i.e. user turns off the option `the build process exit code is not zero`, but a build is failed when process returns an negative exit code

see https://youtrack.jetbrains.com/issue/TW-54220

[2018-03-20 12:47] NikolayPianikov commented on #102
@Idanby any updates?

[2018-03-21 07:27] Idanby commented on #102
everything works well.
Thank you.

On Tue, Mar 20, 2018 at 2:47 PM, Nikolay Pianikov <notifications@github.com>
wrote:

[2018-03-21 07:28] #102 closed

[2018-03-22 11:53] NikolayPianikov commented on #119
@mbenua-mparticle this plugin supports .sln files to run tests via `test` command

[2018-03-23 09:43] NikolayPianikov commented on #101
.NET Core SDK 2.1.102 has fix allowing to improve tests performance
- Update Visual Studio to latest or install dotnet CLI 2.1.102 or later
- Update this plugin

[2018-03-23 09:43] #101 closed

[2018-03-23 12:14] jesuissur commented on #101
For sure it is better.
One of our build looks like that after the updates
![image](https://user-images.githubusercontent.com/136296/37828569-277b6784-2e72-11e8-9e10-cf8b3bcf7cbc.png)

[2018-03-27 10:03] KaranPato commented on #35
Can't access any of these commands
dotnet restore
dotnet build
dotnet publish

Getting this error
**java.io.IOException: Cannot run program "sh" (in directory "C:\Program Files (x86)\Jenkins\workspace\KaranPatokar_Jenkins")**

[2018-03-28 16:38] dtretyakov commented on #35
@KaranPato, what version of TeamCity and .NET CLI plugin are you using?
Also, please describe steps to reproduce this issue.

[2018-03-29 10:20] #123 closed

[2018-04-21 01:09] ormico commented on #7
I'm having this same problem but on Ubuntu. Is this plugin compatible with Ubuntu/Linux agents or just Widnows agents. I'm trying to compile a asp.net core app and then package in a linux docker container. my Windows agent stopped working after a recent windows update affecting Windows 10 & nested virtualization. thought I would try running it on Ubuntu instead.

[2018-04-21 01:29] ormico opened #124 "is this plugin compatible w/dotnet cli 2 on Ubuntu 16.04"
I'm trying to use this on Ubuntu but I cannot get it to detect the dotnet cli. I have installed the cli and it didn't detect it automaticly. I also tried setting the DOTNET_HOME but that doesn't seemt to work either. Is this plugin compatible with Ubuntu/Linux agents or just Windows agents. I'm trying to compile a asp.net core app and then package in a linux docker container. my Windows agent stop

[2018-04-23 09:34] dtretyakov commented on #124
@ormico, this plugin detects .net cli by using `PATH` and `DOTNET_HOME`. Please ensure that on this specific build agent mentioned env vars are available under user which was used to start TeamCity build agent.

Actual values you could find on the %build_agent% -> Agent Parameters -> Environment Variables page.

[2018-05-30 07:13] YRudievGP opened #125 "TeamCity does not interrupt NUnit test run"
Tests are not stopped if cancel TeamCity run.

Steps to reproduce:

Run TeamCity test run with NUnit tests
When tests are started executing, cancel test run (press " stop build" button)
Result:
Tests are continued executing.

Additional information:
It is actually for UI and backend tests.

In use:
.Net framework netcoreapp2.0
NUnit 3.10.1
NUnit.ConsoleRunner 3.8.0
NUnit.Runners 3.8.0
NUnit3TestAd

[2018-05-30 08:26] NikolayPianikov commented on #125
Fixed in TeamCity 2017.2.x and master
@YRudievGP try updating your plugin

[2018-05-30 08:41] NikolayPianikov opened #126 "Use lowercase variables for the verbosity option"
[Details](https://github.com/Microsoft/vstest/issues/1590)

[2018-05-30 08:58] #126 closed

[2018-05-30 09:19] YRudievGP commented on #125
Currently in use TeamCity 2017.2.1 and issue is reproduced
May try to update higher, if it might help.

[2018-05-30 11:14] NikolayPianikov commented on #125
@YRudievGP  Have you updated dotnet CLI plugin from [this](https://github.com/JetBrains/teamcity-dotnet-plugin#download) page?

[2018-05-30 11:29] YRudievGP commented on #125
No, I haven't. As it is bundled with TeamCity, it should have been updated automatically with TeamCity.
We will update TeamCity to 2017.2.4 (build 51228) this night and it might get latest version of dotnet plugin.

Will reply if it helps

[2018-05-30 11:34] NikolayPianikov commented on #125
I've fixed it not so long ago (just several hours) so it is not in any releases yet. You might update this plugin manually from the suggested page (it contains an instruction) or could wait for next TeamCity release if it is not so urgent

[2018-05-30 11:36] YRudievGP commented on #125
Thanks for the clarification

[2018-05-31 07:14] YRudievGP commented on #125
We have added plugin manually and problem was solved. Thanks

[2018-06-04 13:57] NikolayPianikov opened #127 "Test results not being reported with .NET CLI 2.1 release"
[TeamCity issue](https://youtrack.jetbrains.com/issue/TW-54720)
[xunit issue](https://github.com/xunit/xunit/issues/1706)
[vstest issue](https://github.com/Microsoft/vstest/issues/1590)

[2018-06-05 12:31] NikolayPianikov commented on #127
TeamCity does not pass `--verbosity` argument now.

It uses:
* `/p:VSTestVerbosity=...` for VSTest target with minimal level `normal`
* `/l:TeamCity.MSBuild.Logger.TeamCityMSBuildLogger,path\TeamCity.MSBuild.Logger.dll;TeamCity;verbosity=...` for TeamCity MSBuild logger

[2018-06-05 12:31] #127 closed

[2018-06-08 09:09] NikolayPianikov opened #128 "VBCSCompiler service remains in memory after `dotnet build` and consumes 100% of 1 CPU core and a lot of memory on Ubuntu"
# Steps to reproduce
- create a temp directory with long full name (~>100 symbols)
- set the environment variable `TMPDIR` as full path to this temp directory
- build some dotnet project

# Related issues
[dotnet/roslyn](https://github.com/dotnet/roslyn/issues/27566)
[TeamCity](https://youtrack.jetbrains.com/issue/TW-55268)

[Sample repo](https://github.com/NikolayPianikov/dotnetcli_tpmdir_issue)

[2018-06-08 11:14] NikolayPianikov commented on #128
Add `/p:UseSharedCompilation=false` to .rsp file for this case

[2018-06-08 11:14] #128 closed

[2018-06-15 19:53] jeremygaither commented on #124
@dtretyakov We have set DOTNET_HOME, and `dotnet` is in the PATH on Ubuntu 16.04, but none of the agent configuration parameters are being set by the plugin.

[code]

[2018-06-15 20:07] jeremygaither commented on #124
We see the following error in the agent logs:

[code]

However, this command is available and works:

[code]

[2018-06-15 21:05] jeremygaither commented on #124
To fix this, I added variables to the init.d script:

[code]

[2018-06-18 13:45] lxalln opened #129 "Failing tests reported as success"
We just had a failed build go through TeamCity and get deployed, because TeamCity continued after tests failed.

5 tests failed in total, and the build log says:

What?! Surely any test failing is enough to fail the step?! Since when was 'all the tests have run' a measure of success??

[2018-06-18 14:24] NikolayPianikov commented on #129
@lxalln, step was success because of tests were started and process was finished successfully. But what is the state of a build?

[2018-06-18 14:47] lxalln commented on #129
@NikolayPianikov the build is failed, but all subsequent steps ran, which means the "Push build to Octopus" step ran... even though the tests failed!

[2018-06-18 15:15] NikolayPianikov commented on #129
Just configure each step like
![Options](https://user-images.githubusercontent.com/11720017/41545239-6eb28132-7323-11e8-9c6b-27ae2bd0aed6.png)

[2018-06-18 15:25] lxalln commented on #129
I suppose that would work, even if I don't agree that step should be marked as success.

Is this a recent change? We've been relying on TeamCity to fail on unit test failure for years.

[2018-06-18 15:59] NikolayPianikov commented on #129
It is original behavior. For most of runners a process returns non zero exit code which means that a running was not successful. For runners like NUnit, VSTest, dotnet test, msbuild /t:VSTest, dotnet vstest positive exit code just a amount of failed tests. See this [thread](https://youtrack.jetbrains.com/issue/TW-49018) for details

[2018-06-19 12:27] NikolayPianikov commented on #129
@lxalln anyway I've created the [issue](https://youtrack.jetbrains.com/issue/TW-55626). You could vote for it

[2018-06-19 12:27] #129 closed

[2018-06-22 08:58] dtretyakov commented on #124
@jeremygaither, ok, thanks for details, it was caused by https://github.com/dotnet/cli/issues/8053 and we'll try to fix this case on TeamCity .NET CLI plugin side.

[2018-06-26 15:35] NikolayPianikov opened #130 "dotCover started even if not requested to be started in the build configuration"
TC 2017.2.4 (build 51228)

1. Create build step "dotnet test" with dotCover enabled
2. Clone "dotnet test" step and change to "dotnet build" on the clone, reorder clone to be the first step
3. Open "dotnet build" step editor - there is no dotCover selected (and even no possibility to select it)
4. When you run the configuration, the first step log shows that dotCover is started for build:

[code]

[2018-06-28 12:31] NikolayPianikov opened #131 "Use a ServiceMessageHandler interface instead of manually parsing TeamCity Service Messages and avoid storing corresponding text lines in memory"
To optimize performance and memory usage

[2018-06-28 13:59] #131 closed

[2018-06-28 15:48] NikolayPianikov opened #132 "dotCover is waiting for finishing of all spawned processes including a build's infrastructure processes"
So turn off shared compilation for latest versions of .net core SDK

[2018-06-30 08:54] #132 closed

[2018-07-02 13:21] NikolayPianikov opened #133 "dotnet shared compilation services (remaining in memory) prevents cleaning of checkout directory"
The dotnet build-server shutdown command should be executed after build's last step if any step contains:
- Build
- Pack
- Publish
- Test
- Run
- MSBuild

See also https://youtrack.jetbrains.com/issue/TW-55831

[2018-07-02 13:30] #133 closed

[2018-07-11 11:24] NikolayPianikov opened #134 "The plugin does not take in account global.json files during the definition of the .net SDK version"
Steps to reproduce:
- install dotnet sdks:  2.0.3 and latest
- create a test project 'dotnet new xunit'
- add `global.json` to the tests project directory or to some parent like:
[code]
- add `dotnet test` build step
- run build

Result: error `The path '...\vstest15;.' specified in the 'TestAdapterPath' is invalid. Error: The custom test adapter search path provided was not found, provide a valid

[2018-07-11 14:55] Vizibirka opened #135 "finds wrong dotnet.exe if more than one file ends with dotnet.exe"
If more than one file ends with the name dotnet.exe and the real dotnet.exe is not on the first place on PATH, the plugin incorrectly finds the first one and it does not give any log messages about, and just skip silently adding DotNetCLI .

Real world example: Coverity (static code analyzer tool) has some files which ends with dotnet.exe

Files:
cov-internal-emit-dotnet.exe
cov-internal-host-dotn

[2018-07-12 01:47] alfhenrik commented on #134
@NikolayPianikov thanks for raising this issue, I have some extra information about what we did and what worked for us.

We initially got around this issue by adding `dotnet.cli.test.reporting=off` to our build project.

This morning we tested adding the `TeamCity.VSTest.TestAdapter` package to our test project and removed the `dotnet.cli.test.reporting` parameter from our build project and it als

[2018-07-12 12:58] NikolayPianikov commented on #134
@alfhenrik TeamCity.MSTest.TestAdapter is another one workaround, thanks for the mention. Anyway this issue was fixed and will be available as TeamCity 2018.1.1 soon (next week I hope) or you could install it manually from [this place](https://github.com/JetBrains/teamcity-dotnet-plugin#download)

[2018-07-12 12:58] #134 closed

[2018-07-12 14:52] #135 closed

[2018-07-12 14:54] #112 closed

[2018-07-13 00:07] alfhenrik commented on #134
Thanks @NikolayPianikov for the quick turnaround, looking forward to `2018.1.1` 👍

[2018-07-19 09:45] badgerparade commented on #129
I've voted for that issue but I can't understand the logic behind the original behaviour.  If a test fails you want the step to fail and then the whole build to fail.  It's a simple binary decision and I'd imagine that's pretty much the default behaviour everyone would want and expect.

[2018-07-19 13:00] NikolayPianikov commented on #129
@badgerparade, the default is: when any test fails it changes the state of a build but does not stop the build. For cases when build contains a lot of tests and some of them are flaky the this is a most suitable behaviour from the TeamCity team point of view. But user could directly specify the option "Only if build status is successful" to skip some build step when the state of a build is not suc

[2018-08-02 07:27] 1015450578 commented on #81
I'm getting this error with the plugin using .Net Core 2.0.0. Any suggestion?

[2018-08-02 11:27] dtretyakov commented on #81
@1015450578, could you please provide a corresponding build log with a command line and error message?

[2018-08-07 09:33] davestephens opened #136 "Plugin options are honoured even when not shown in the config UI"
When switching through different dotnet cli comands, ie `build`, `restore`, `clean`, the available UI options change accordingly.

However, options that aren't shown for a specific command are still honoured by TeamCity.

To reproduce:
- Select `build`, then enter `src` as your Working Directory
- Select `restore`, and the Working Directory box will disappear
- Save the config
- Run a build, and o

[2018-08-09 11:52] dtretyakov commented on #136
@davestephens, thanks for reporting. The similar issue was created in the TeamCity tracker:
https://youtrack.jetbrains.com/issue/TW-55717

[2018-08-09 11:52] #136 closed

[2018-08-21 13:30] aruningithub commented on #87
I uploaded latest version but still i am getting same error: "Could not find a test logger with AssemblyQualifiedName, URI or FriendlyName 'logger://teamcity/'." Is there any setting which we need to update.

[2018-08-21 17:57] dtretyakov commented on #87
@aruningithub, what TeamCity and plugin version do you use?

[2018-08-21 18:04] aruningithub commented on #87
TeamCity version : TeamCity Professional 2017.1.4 (build 47070)
and i download latest version 0.9.7 .

[2018-09-18 08:55] alexangas opened #137 "Hang after unit test run completed"
Hello,

I'm experiencing an issue where after as part of a unit test run, the build job appears to be doing nothing for about 10 minutes. Strangely, I have another build configuration that is working as expected, and both appear to have the same underlying XML describing their build steps. I have tried recreating the build step from scratch in the build that is hanging.

TeamCity Enterprise: 2017.

[2018-09-18 09:44] dtretyakov commented on #137
@alexangas, in the latest .NET CLI versions by default enabled sharedcompilation option and it could be the cause of problems since after test session completion remains a number of dangling dotnet CLI processes which prevents dotCover termination.

Try adding the command line parameter `/p:UseSharedCompilation=false` and enable checkbox "Do not build the project before testing" and check whether

[2018-09-18 12:46] alexangas commented on #137
Thanks, i'm testing this. If "Do not build the project before testing" is ticked, does that mean I need to add a separate build step to build the test project first?

[2018-09-18 13:19] dtretyakov commented on #137
@alexangas, yes, correct, if "Do not build the project before testing" is unchecked you need to add a preceding build step with .NET CLI `build` command.

[2018-09-19 16:20] alexangas commented on #137
I've progressively applied these changes across multiple build configurations and the issue appears to be resolved. Thanks!

[2018-09-19 16:20] #137 closed

[2018-09-28 02:28] zoenberger commented on #137
Woot! Woot! I'm glad I found this. Same exactly issue and same resolution. Thanks!

[2018-10-10 19:06] queen-of-code commented on #124
I'm still unclear on whether or not this works, or what's needed to make this work. I can run all dotnet commands from the command line directly just fine, but agent detection will not show my linux agents as viable when I try to use the TC dotnet plugin
![image](https://user-images.githubusercontent.com/17885489/46759653-c05efc80-cc84-11e8-86f6-ef14a789b0c7.png)

The agents definitely do have the

[2018-10-11 08:16] dtretyakov commented on #124
@queen-of-code, what TeamCity and `dotnet` version do you use? Could you please file an [issue in TeamCity tracker](https://youtrack.jetbrains.com/newIssue?project=TW&clearDraft=true&summary=.NET%20CLI:&c=Subsystem%20Agent%20-%20.NET&c=tag%20.NET%20Core) and privately attach [teamcity-agent.log](https://confluence.jetbrains.com/display/TCDL/Viewing+Build+Agent+Logs) file from this build agent?

[2018-10-23 02:34] jeremygaither commented on #124
@queen-of-code add environment variables to whatever script you use to run the agent as a daemon as here:
https://github.com/JetBrains/teamcity-dotnet-plugin/issues/124#issuecomment-397742265

[2018-12-12 13:01] NikolayPianikov opened #138 "Support test metadata"

[2018-12-12 13:14] #138 closed

[2018-12-12 19:08] robertglickman commented on #129
Flaky tests is not a reason to change default platform behavior. Flaky tests is a reason for a user to fix flaky tests, or for the platform to provide a non-default workaround.

[2019-02-05 05:58] FabriceMk commented on #129
I agree with @robertglickman we upgraded to TC 2018.2 from TC 10.x and we discovered that nasty change of default behavior.

If the old behavior was a bug regarding some documentation I could understand but at least it should have been communicated properly.

It's not very nice to change a standard platform behavior that used to work that way for years.

[2019-02-07 03:40] appcoreopc commented on #87
hi team, i am on TeamCity Enterprise 2018.2.2 (build 61245) and have the plugin installed dotnet-tools (61245). However, i am still getting the error above.

"Could not find a test logger with URI or FriendlyName 'logger://teamcity"

Would appreciate any help. Cheers,

[2019-02-07 07:59] NikolayPianikov commented on #87
@appcoreopc could you share more info? How are you running your tests - some screenshot of build step, a sample of your solution to reproduce if it possible, TeamCity build log file

[2019-02-08 21:22] sergioadh commented on #120
I'm running Teamcity 2018.2 trying to restore a .NET Core 1.0 and I had to use `dotnet.cli.rsp=false` following what was said in [#116](https://github.com/JetBrains/teamcity-dotnet-plugin/issues/116). But now I'm encountering the following error:
[restore] error: /p:VSTestLogger=logger%3A%2F%2Fteamcity
[restore] Process exited with code 1
[restore] Step .NET Core (dotnet) restore (.NET CLI (dotnet

[2019-02-19 14:18] NikolayPianikov opened #139 "Temp file names are too long"

[2019-02-19 14:43] #139 closed

[2019-02-25 00:10] ankitvijay commented on #129
Sorry, but executing the next build step after tests fail is ridiculous. This cannot be "Default" behavior since when we add a new build step, execution step is set to "If all previous steps finished successfully" by default. It seems to suggest that build should not proceed if tests fail, which obviously, is wrong in this here.

This is a pit-fall and I'm sure we are not the only one who were cau

[2019-02-25 01:30] ankitvijay commented on #129
Update: I fixed it by adding an additional failure condition as below instead of proposed work-around.
![image](https://user-images.githubusercontent.com/5988564/53308876-44dab080-38f0-11e9-9575-1657d0d60757.png)

This is because for us the step below the "Test" step changing Execute Step to "Only if build status is successful" did not make much sense. Especially, since we may reorder or add/ dele

[2019-03-04 01:50] flcdrg opened #140 "Building with .NET Core SDK 2.2.200 fails with Could not find a test logger with AssemblyQualifiedName, URI or FriendlyName 'logger://teamcity/'"
.NET Core 2.2.200 (which is included in Visual Studio 2019) changes [how MSBuildToolsVersion is defined](https://github.com/Microsoft/msbuild/issues/3778).

This presumably means that https://github.com/JetBrains/TeamCity.VSTest.TestAdapter/blob/master/TeamCity.VSTest.TestLogger/TeamCity.VSTest.TestAdapter.props needs updating to match the new `Current` value

[2019-03-04 02:07] flcdrg commented on #140
Sorry, wrong repo. Reposted issue to https://github.com/JetBrains/TeamCity.VSTest.TestAdapter/issues/31

[2019-03-04 02:07] #140 closed

[2019-03-19 11:09] Lechus commented on #129
@NikolayPianikov : instead of please vote, maybe someone will fix it, should speak to product manager how your company could write an apologize letter (email) to customers for that mess with an ETA with a proper fix.

[2019-04-10 08:42] oreporan commented on #87
Same issue here

[code]

[code]

[2019-05-10 16:07] jgoz opened #141 "DOTNET_HOME not used when looking for SDK"
I have installed (via scoop) .NET Core 3.0 preview on my build agents and have set the `DOTNET_HOME` environment variable to the install path per the README instructions. The build is started with the correct executable version (`.NET Core SDK v3.0.100-preview5-011568`), but it fails quickly with this error message:

This leads me to believe that the SDK path lookup is not respecting the `DOTNET_H

[2019-05-10 16:10] jgoz commented on #141
Associated log output:

[code]

[2019-05-13 13:44] oceaneLonneux commented on #7
Currently bumping on this.

dotnet is running on the Debian server. I have .NET Core on 2.1.603. DOTNET_HOME (and I tried DOTNET_ROOT before) is set on /home/teamcity/dotnet. Path has /home/teamcity/dotnet in it.
Teamcity doesn't pick up dotnet, and therefore, doens't allow Octopus releases.

We have the error message "jetbrains.buildServer.AGENT - Octopus can not run on agent with Unix and withou

[2019-05-13 15:05] oceaneLonneux commented on #141
Currently bumping on this.

dotnet is running on the Debian server. I have .NET Core on 2.1.603. DOTNET_HOME (and I tried DOTNET_ROOT before) is set on /home/teamcity/dotnet. Path has /home/teamcity/dotnet in it.
Teamcity doesn't pick up dotnet, and therefore, doens't allow Octopus releases.

We have the error message "jetbrains.buildServer.AGENT - Octopus can not run on agent with Unix and withou

[2019-05-16 13:07] NikolayPianikov commented on #141
@jgoz
- how did you specify DOTNET_HOME?
- could you make sure this path contains executable file like dotnet.exe (for windows)
- which windows account did you use to run TeamCity agent? could you make sure that the command line `set` under this windows account returns the appropriate path?

[2019-05-16 13:19] NikolayPianikov commented on #141
@oceaneLonneux
could you make sure this environment was defined correctly like in my previous post (command line step to show defined environment variables).

It is important to note that the `DOTNET_HOME` environment variable should be defined on a TeamCity agent computer for the account which was used to run TeamCity agent.

This plugin knows nothing about the `DOTNET_ROOT ` environment variable

[2019-05-16 13:26] oceaneLonneux commented on #141
Hello, so I finally figured out what happened in this case.

Was using the octopus deploy plugin, which needed dotnet. Installed 2.1 dotnet and wasn't working (with /home/user/dotnet).  updated to 2.2 with this command
`sudo apt-get install dotnet-sdk-2.2`
It updated itself, rebooted the servers and now it’s working. For some reasons, the plugin couldn't see the 2.1 (maybe because older?) version.

[2019-05-16 13:40] NikolayPianikov commented on #141
@oceaneLonneux If you are meaning the dotnet CLI plugin, it does not matter for it the SDK version because of it does not interact with SDK directly, it does it via dotnet command lines like `dotnet --info` or `dotnet --version` to get info. Are you still having some unresolved issues?

[2019-05-16 13:59] oceaneLonneux commented on #141
Not exactly. We already have the dotnet cli plugin and the updated ocotpus deploy release plugin on the windows master. But we got a debian build agent. We installed 2.1 of dotnet on it, and neither of the steps "octopus deploy release" or "dotnet" was working.

It fixed itself when I updated to version 2.2 of dotnet, which lead me to think maybe teamcity didn't pick up that version correctly, eve

[2019-05-16 14:16] jgoz commented on #141
@NikolayPianikov

It is configured as an environment variable in the parameters of a specific build configuration.

Yes, the path was set to `C:\Users\agentworker\scoop\apps\dotnet-sdk-preview\current\`, which contained `dotnet.exe`.

We have a domain account that we use on all of our agents. Since we are defining DOTNET_HOME in the parameters for a build configuration, I would only expect it to b

[2019-05-16 14:32] NikolayPianikov commented on #141
@jgoz @Yes I understand your point. The TeamCity agent is finding `dotnet` executable once and is storing the path to `dotnet` to configuration parameter `DotNetCLI_Path` on starting. To do it each time before running build step might be not efficient.
But for your case you could just override the __configuration__ parameter `DotNetCLI_Path` for your project or build configuration, for instance li

[2019-05-16 14:47] NikolayPianikov commented on #141
@oceaneLonneux thanks for info. We supposed that any of dotnet versions should work fine. I will ask QA check 2.1 on Debian

[2019-05-16 15:42] jgoz commented on #141
@NikolayPianikov I tried your suggestion:
- Defined `DotNetCLI_Path` configuration parameter pointing to sdk-preview executable (defined at project level)

It did not work. This is the relevant build output:

[code]

It appears to be using the correct executable version again, but cannot find the associated SDK.

I also tried defining the `DotNetCoreSDK3.0.100-preview5-011568_Path` configuration p

[2019-05-17 15:12] NikolayPianikov commented on #141
@jgoz try updating dotnet cli plugin:
[dotnet.cli.zip](https://github.com/JetBrains/teamcity-dotnet-plugin/files/3192069/dotnet.cli.zip)

[2019-05-17 15:26] NikolayPianikov commented on #141
Related [issue](https://youtrack.jetbrains.com/issue/TW-60448)

[2019-05-17 15:58] jgoz commented on #141
@NikolayPianikov Thank you, it now works if I define `DotNetCLI_Path` per your earlier instructions. 🎉

I also tried only defining `DOTNET_HOME` and it failed with `Cannot find the .NET Core SDK v0.0.0 for the directory...`. But this isn't an issue now that we can use the configuration parameter.

Thank you for the quick resolution!

[2019-05-22 12:25] maxjoehnk opened #142 "Run step within docker container not working"
We have a couple of Linux Build Agents with just docker, some monitoring and the teamcity agent running on it.
All builds run in docker containers to avoid any issues between multiple agents.
We've tried to run the tests of a new .NET Core project using the .NET CLI (dotnet) runner within a container (mcr.microsoft.com/dotnet/core/sdk:2.2-stretch) to get the test results and test coverage into Tea

[2019-05-22 13:24] NikolayPianikov commented on #142
@maxjoehnk what versions of TeamCity and dotnet CLI plugin you using?

[2019-05-23 06:04] maxjoehnk commented on #142
TeamCity Professional 2018.2.4 (build 61678)
.NET CLI Support is also version 61678.

[2019-05-23 15:21] NikolayPianikov commented on #142
@maxjoehnk Which docker image are you using? Could you share:
`teamcity-agent.log`
`teamcity-build.log`
from TeamCity agent.

To send these files you could use my address: Nikolay.Pianikov@getbrains.com

[2019-05-24 08:58] maxjoehnk commented on #142
**mcr.microsoft.com/dotnet/core/sdk:2.2-stretch** is the image we're using. Running dotnet test within it (on a local machine) works just fine.
Nikolay.Pianikov@jetbrains.com is probably the right address instead of getbrains?

[2019-05-24 09:54] NikolayPianikov commented on #142
@maxjoehnk, yes Nikolay.Pianikov@jetbrains.com it is my address, I made a typo

[2019-05-24 09:55] maxjoehnk commented on #142
Alright, I've sent you the logs.

[2019-06-04 04:37] rsking-mondo commented on #142
We are having the same issue, although with windows containers. We have a windows build agent that only has docker installed. When running dotnet restore, it is failing with

[2019-06-04 05:02] rsking-mondo commented on #142
I can confirm that when the .NET Core SDK is installed on the machine, then the dotnet command is run in the docker container.

[2019-07-04 16:10] NikolayPianikov commented on #142
[Issue](https://youtrack.jetbrains.com/issue/TW-61085) was created

[2019-09-11 08:21] 0xced commented on #91
I had the exact same problem but with the *Visual Studio Tests* runner (VSTest 2017) on TeamCity 2019.1 (build 65998) where it would report duplicate tests.

I switched to use the *.NET CLI (dotnet)* runner with the `vstest` command and now the reported number of tests by TeamCity is correct.

[2019-10-07 13:25] ognjenkurtic commented on #124
Still having this issue on RHEL 7 although both PATH and DOTNET_HOME variables are correctly set to point to the folder where the executable is located and reported to the TC server by the agent. Any updates?

[2019-11-18 08:57] AntonSmolkov opened #143 "Dotnet test. Add ability to run test projects in parallel"
Hi! It would be super useful if `dotnet test` step had the ability to run tests in parallel.

Actually, [ sincedotnet sdk 2.1](https://github.com/microsoft/vstest/issues/1129) it's possible to pass .SLN file to `dotnet test` instead of .csproj and use xunit `/p:ParallelizeAssemblies` msbuild parameterer, but this approach has drawbacks for legacy .NET framework projects.
Dotnet SDK has only limite

[2019-11-18 11:00] NikolayPianikov commented on #143
@AnSmol I am no sure I understand. What is hepening when you run xunit tests using `dotnet test xxx.sln` with additional argument `/p:ParallelizeAssemblies` now? Are they not working as expected?

TeamCity just runs command line tool dotnet to run tests and it tracks tests results. Do you suppose that TeamCity should run several dotnet processes at the same time or something else?

[2019-11-18 12:47] AnSmol commented on #143
@NikolayPianikov  `ParallelizeAssemblies` It works as expected, but one .csproj = one test assembly, so effectively it is not parallelization at all. I guess it suppose to work only on solution level.

Exactly! Ability to define parallelization level also would be great.

[2019-11-20 09:42] AntonSmolkov commented on #143
It's appeared that `dotnet test` on .SLN runs test .csproj'es on parallel by default, so i don't even have to append extra flags for xunit.

While investicage all this stuff found following drawbacks of the current step:

- Lates version of .NET CLI Support plugin ( 0.9.7 ) still appends `-verbosity Normal` instead of `-verbosity normal`.  [Issue](https://github.com/Microsoft/vstest/issues/1590#is

[2019-11-20 09:44] AntonSmolkov commented on #143
if someone is interested, the complete way to succesfully run `dotnet test` on **.SLN file** (and thus in **parallel**) containing different kind of projects (Legacy CsProj/ProjectSDK, Legacy Asp.Net/Asp.Net Core, Xunit/Nunit):
1) Inside test projects, add nuget-references to Microsoft.NET.Test.Sdk, TeamCity.VSTest.TestAdapter and test-platform specific adapters. As described [here ](https://githu

[2019-11-20 11:48] NikolayPianikov commented on #143
@AntonSmolkov You have made a good investigation. Could you share this information in some section of readme? Some git repo with samples could be very useful too :)

[2019-12-05 08:29] AlexanderKholodov46 opened #144 "Invalid semicolon escaping when passing property via .rsp"
We can successfully pass properties containing semicolons as command line arguments. For example, on Windows
[code]

If we try to pass similar properties through system.* configuration parameters, we get a value that MSBuild does not correctly perceive. For example, if we have the parameter `system.NoWarn = 1591;1573;3001;3002`, in the rsp file we get the following
[code]

The reason is that semic

[2019-12-05 12:07] NikolayPianikov commented on #144
Fixed in TeamCity 2019.2 and will be released soon. Just add the TeamCity system property like `system.NoWarn=1591;1573;3001;3002` without double quotes.

[2019-12-05 12:12] NikolayPianikov commented on #144
The correct value in the rsp file should be `/p:NoWarn="1591;1573;3001;3002"`

[2019-12-13 08:48] rungureanu-eq opened #145 "NUGET_PACKAGES environment variable not being picked up from the system"
We just updated to the latest version of TeamCity (2019.2) and some of the builds started failing, more specifically when running the unit tests. Everything worked correctly before that, when using TeamCity 2019.1.4.

We previously configured NuGet cache folder to be on a separate drive, by setting the System Environment Variable of NUGET_PACKAGES to our new path.
The problem is that when using th

[2019-12-13 17:44] NikolayPianikov commented on #145
@rungureanu-eq I am not sure I understand how did you specify the environment variable at first? Did you specify it for the Windows user account related to the TeamCity agent service (the TeamCity agent restart is required in this case) or just did something like on my screenshot? ![111](https://user-images.githubusercontent.com/11720017/70819888-61e16100-1de8-11ea-894f-09376047c63a.png)

[2019-12-14 09:23] radu-ungureanu commented on #145
@NikolayPianikov it was specified in Windows > Environment Variables > System variables. Not specific to any user.

[2019-12-16 11:34] NikolayPianikov commented on #145
@radu-ungureanu Did you restart the TeamCity agent after adding the environment variable? Could you please add the command `set` in the command line runner step to print out all environment variables? Could you find `NUGET_PACKAGES` in that list?

[2019-12-16 11:40] #144 closed

[2019-12-16 11:42] NikolayPianikov commented on #142
Fixed in TeamCity 2019.2

[2019-12-16 11:42] #142 closed

[2019-12-16 11:54] NikolayPianikov commented on #141
Fixed in 2019.2

[2019-12-16 11:54] #141 closed

[2019-12-16 12:56] NikolayPianikov commented on #124
Try using TeamCity 2019.2. The dotnet plugin uses `PATH` and `DOTNET_HOME` to find dotnet executable. `DOTNET_HOME` has more priority. If you still have any issues around it could you please share a file like `teamcity-agent.log` from an TeamCity agent machine after agent restart and a build log after any failed build to my e-mail. I will try to fix it in TeamCity 2019.2.1

[2019-12-16 12:59] NikolayPianikov commented on #120
It will be fixed in 2019.2.1. It will be possible to override any parameters via command line field

[2019-12-16 12:59] #120 closed

[2019-12-16 13:00] #119 closed

[2019-12-16 13:01] #105 closed

[2019-12-16 13:03] #143 closed

[2019-12-16 13:04] #75 closed

[2019-12-16 17:06] rungureanu-eq commented on #145
@NikolayPianikov, yes, we restarted the agent itself and even the whole server.

Runing `set`, we can find the variable `NUGET_PACKAGES=D:\Cache\NuGet\packages` in the list.
This is the expected FilePath that we want.

[2020-01-07 11:43] rungureanu-eq commented on #145
@NikolayPianikov was the information I provided enough? Can I help in any other way?

[2020-01-10 16:25] NikolayPianikov commented on #145
@rungureanu-eq Sorry for delay. It looks very strange. Could you please create a build step using the command line runner: `dotnet new mstest` and check that packages were restored using this cache path after build?

[2020-01-15 09:40] rungureanu-eq commented on #145
Hmm, I'm not sure how to `check that packages were restored using this cache path after build`.

These are the logs that are displayed in TeamCity during the step execution:

[2020-01-21 15:28] simendsjo commented on #129
I just need to chip in here! A process returning a non-zero exit code should be interpreted as failing. A testrunner returning a non-zero exit code should be interpreted as a failure. When tests are failing, the build is *not ok*, and should *not* be released.

You can release even though your tests are failing, but then you should mark the next steps to continue even if the tests are failing. The

[2020-01-21 19:43] NikolayPianikov commented on #129
This is not a specific dotnet CLI runner behavior. This is the usual behavior for all runners of the this type (NUnit tests, Visual Studio Tests, IntelliJ IDEA Project ...). I would like to agree with you that each failing test should be a reason of failing build and in an ideal world the logic should be so, but there is some cons of this and reasons why I did not do this fix right now:
- if I cha

[2020-01-22 06:52] simendsjo commented on #129
Do you believe there are such numbers that rely on "failing tests are ok"? We've been using TC for 8 years on projects here before hitting this case, and in our case, we consider it a catastrophic failure.

If you have tests which are ok to fail, I bet you would group them, tag them or otherwise handle them to not trigger an error. I do not feel this is a valid argument in the discussion.

I have

[2020-02-19 09:21] schrufygroovy opened #146 "dotnet test - The argument /noconsolelogger is invalid."
Following error is shown:
[dotnet test] The argument /noconsolelogger is invalid. Please use the /help option to check the list of valid arguments.

I am using the latest .NET SDK 3.1.102 version.

[dotnet test] .NET SDK 3.1.102 C:\Program Files\dotnet\dotnet.exe test C:\BuildAgent\work\a7352c02b7a9ec59\Qata.Tests.Selenium.Wikifolio.WithDatabase.1.101.0-beta0027\Qata.Tests.Selenium.Wikifolio.WithD

[2020-02-19 15:59] NikolayPianikov commented on #146
@schrufygroovy try using the command `vstest` instead as workaround

[2020-02-19 16:05] NikolayPianikov commented on #146
We should support a testing assembly as target for `dotnet test` command since 3.1.100

[2020-02-20 07:36] NikolayPianikov commented on #146
The related issue: https://youtrack.jetbrains.com/issue/TW-64569

[2020-02-21 09:55] NikolayPianikov commented on #146
@schrufygroovy, which version of TeamCity do you have installed?

[2020-02-21 10:15] schrufygroovy commented on #146
TeamCity Professional 2019.2.1 (build 71758)
I ensured I am using the latest version before I submitted the report.

[2020-02-21 10:42] NikolayPianikov commented on #146
@schrufygroovy It's brilliant and you could try the [latest plugin](https://github.com/JetBrains/teamcity-dotnet-plugin/files/4235616/dotnet.cli.zip)

[2020-02-21 10:43] #146 closed

[2020-02-21 11:05] schrufygroovy commented on #146
@NikolayPianikov thx. works now

awesome work!

[2020-02-21 11:13] NikolayPianikov commented on #145
@rungureanu-eq I cannot reproduce this issue on the latest .net SDK. Which SDK did you use?
Is it possible to share the result of `dotnet --info`

Could you turn on the verbosity level `diagnostics` and find in the log lines as
`Task "GetRestoreSettingsTask"`
`(out) OutputPackagesPath '....'`

as workaround try using command line args `--packages ....`

[2020-02-24 13:09] rungureanu-eq commented on #145
We currently have multiple installed SDKs on the build machine, due to the fact that we have multiple apps built there

Also, while running the `test` command of the plugin, with the verbosity set to `diagnostics`, there were 2 matches in the logs, both of them:
`(out) OutputPackagesPath 'D:\BuildAgent\system\dotnet\.nuget'`

[2020-03-05 13:23] NikolayPianikov commented on #144
To pass semicolon via msbuild param use this sample:`/p:SomeParam=\"abc;xyz\"`

[2020-03-09 05:28] johnendev commented on #145
Having the same issue, the NUGET_PACKAGES environment variable is ignored when running dotnet cli commands.

Maybe caused by this?
https://github.com/JetBrains/teamcity-dotnet-plugin/blob/master/plugin-dotnet-agent/src/main/kotlin/jetbrains/buildServer/dotnet/EnvironmentVariablesImpl.kt#L37

If that environment variable is already set then it should not be overwritten.

[2020-03-11 09:37] wvdd007 commented on #137
I couldn't get this working.  But I disable code coverage and that solved the problem

[2020-03-12 10:34] stevenxi opened #147 "The download link is borken"
The page https://plugins.jetbrains.com/plugin/9190?pr=teamcity is borken, even the site.

Thanks

[2020-03-27 13:24] radu-ungureanu commented on #145
@johnendev  you might be right with that file. I was also looking over it at the beginning. Now I see there's a new commit that changes the logic of the implementation
https://github.com/JetBrains/teamcity-dotnet-plugin/commit/0863a4e54beee8f9c72b807468d180cae70030f5

Maybe this helps solve the issues.

[2020-03-27 13:58] NikolayPianikov commented on #145
@radu-ungureanu yes I've fixed this issue recently in master, sorry for inconvenience

[2020-03-27 14:05] #145 closed

[2020-03-27 14:17] radu-ungureanu commented on #145
No worries. Thanks for looking into it.
As I mentioned, we tried setting the variable as you've shown in the screenshot, but with no luck.

One question I would still have, is how to update the plugin? From what I know, now, it is being shipped together with TeamCity, so there isn't a way to update it separately.
Do we need to wait for a new release of TeamCity?

[2020-03-27 15:40] NikolayPianikov commented on #145
@radu-ungureanu you can download this plugin directly from [this page](https://github.com/JetBrains/teamcity-dotnet-plugin#download). This fix is now in the _Dev_ version (it is fully compatible with TeamCity 2019.2), thus some features might not be tested enough by our QA team or some features and UI might be changed in the _Release_ version. But you could help our QA :)

And of course the next r

[2020-04-08 06:17] gimik17 commented on #134
In Plugin .NET CLI Support | 71923 with teamcity 2019.2.2 the runner ignores the global.json.
Step 5/7: Build & Publish (.NET CLI (dotnet))
16:33:23
  dotnet publish
16:33:23
    .NET SDK 3.1.201

My global json is:
{
  "sdk": {
    "version": "3.1.100"
  }
}

[2020-04-08 07:37] NikolayPianikov commented on #134
@gimik17 Note that `dotnet` takes into account the json files associated with the working directory of the `dotnet` process and its parent directories. The default working directory in TeamCity is the `checkout directory`. Could you do the same actions from the command line and make sure TeamCity is doing something wrong?

[2020-04-08 08:19] gimik17 commented on #134
That was the case. 👍

[2020-04-08 12:44] orihomie opened #148 "Generated .rsp file breaks command"
Hi, I'm using .NET Cli to launch my tests and generated command is

What is that generated .rsp file? Can I somehow get rid of it? Because it seems that it breaks passing that xunit runner arguments

[2020-04-08 12:52] orihomie commented on #148
seems to be a copy of https://github.com/JetBrains/teamcity-dotnet-plugin/issues/81, closing

[2020-04-08 12:52] #148 closed

[2020-04-08 13:29] orihomie commented on #81
I've updated sdk version (on a local machine where "dotnet test" runs) to a 3.1 and that still happens

[16:25:27]	[dotnet test] in directory: D:\buildAgent1\work\e49451ace4a6eb8d
[16:25:27]	[dotnet test]
[16:25:27]	[dotnet test] Welcome to .NET Core 3.1!

Error is

If I'll run that command locally or on a build machine without "@D:\buildAgent1\temp\agentTmp\1.rsp" - all will be ok.
When I run exa

[2020-04-08 13:49] orihomie commented on #81
Seems also to be related to https://github.com/JetBrains/teamcity-dotnet-plugin/issues/116

[2020-04-08 14:09] NikolayPianikov commented on #81
@orihomie what version of TeamCity are you using?

[2020-04-08 14:16] orihomie commented on #81
2019.2.1

[2020-04-08 14:38] NikolayPianikov commented on #81
Looks like this issue was fixed. Is it possible to upgrade TeamCity to 2019.2.2?

[2020-04-08 14:42] orihomie commented on #81
Sry, how did you figured that out?
We'll try to upgrade latter today and then check how that works.

[2020-04-08 14:53] NikolayPianikov commented on #81
We just moved custom arguments to the end of list of arguments. Please let me know results

[2020-04-08 15:01] orihomie commented on #81
Did you mean this?
![image](https://user-images.githubusercontent.com/29889683/78799521-eb81f380-79c2-11ea-87f9-07d94b249277.png)

[2020-04-08 15:03] NikolayPianikov commented on #81
``` -- xunit.parallelizeAssembly=true -- xunit.parallelizeTestCollections=true -- xunit.maxParallelThreads=-1```

[2020-04-08 15:03] NikolayPianikov commented on #81
Actually yes, all custom args

[2020-04-08 15:04] orihomie commented on #81
No, that wont work

[2020-04-08 15:21] NikolayPianikov commented on #81
I just checked
![1](https://user-images.githubusercontent.com/11720017/78801776-c2169700-79c5-11ea-81e1-bdd5fd256a3f.png)

[2020-04-08 15:26] orihomie commented on #81
Can you show the end of 3d string? Isnt there .rsp file?

[2020-04-08 15:33] NikolayPianikov commented on #81
[code]

[2020-04-08 15:41] orihomie commented on #81
No specific option enabled? Adding .rsp file disabled by default in new version of teamcity?

[2020-04-08 15:59] orihomie commented on #148
BTW I was trying to run same tests through powershell buildstep, but that wasnt working
Then I've updated .netcore sdk on a build machine and added "--configuration Release" (it was lacking there) to a script line and voila - that worked!
So, command was:

[2020-04-08 16:07] NikolayPianikov commented on #81
There are no any tricky parameters. No, we cannot avoid using .rsp. We moved custom arguments to the end of list of arguments, after all arguments (and after .rsp). The .rsp file - just a text file with the same arguments. The length of command line has a limitation. To meet this limitation we should use .rsp. Your build fails because of your version of .NET plugin the additional xunit arguments (

[2020-04-08 17:37] orihomie commented on #81
Yep, that worked

[2020-04-23 22:13] mkoziel2000 opened #149 "dotnet restore returns 401"
This problem started happening after we downloaded and installed the latest teamcity patch made available this week.

The behavior:
running the ".NET" runner with "restore" against a private repo that requires authentication always produces a 401.

What we've checked:
We checked to verify that the credentials where still valid and that the nuget endpoint could still be hit by a browser with those

[2020-04-23 22:44] NikolayPianikov commented on #149
The related issue is https://youtrack.jetbrains.com/issue/TW-65581

[2020-04-23 22:45] NikolayPianikov commented on #149
@mkoziel2000 Please try updating [this plugin](https://github.com/JetBrains/teamcity-dotnet-plugin/files/4525688/dotNetPackagesSupport.zip)

[2020-05-14 15:57] GrayPockets opened #150 ".NET Cli output both TeamCity test messages and TRX file for SonarQube."
When using the dotnet .CLI, we can't use a parameter like "--logger trx;LogFileName=results.trx" to output a test result file (for eventual pickup via SonarQube).

Please provide a way to output a test file.

[2020-05-24 15:15] AvivRubys commented on #87
I had the same issue as @oreporan when running under docker-compose, the issue was that the teamcity environment variables need to be present at build time, otherwise it looks like the VsTest teamcity dll simply doesn't get created in the docker container.

[2020-06-17 16:35] moonolgerd opened #151 "TC is unable to find DotNetCLI_Path when running a .NET core-based Docker image in a cloud agent"
Docker image is based on .NET Core 3.1
DOTNET_HOME environment variable is set to /usr/share/dotnet
TC cloud agent is created based on the image
TC reports its cloud agent doesn't have DotNetCLI_Path defined:

Incompatible runner: .NET
Unmet requirements:
DotNetCLI_Path exists

[2020-07-13 13:05] lukos opened #152 "Custom feeds are not working"
A build keeps going red because it cannot find a specified nuget package from our private feed. We are using the .Net build step with the "restore" command. If i run dotnet restore locally, it works completely fine so the issue is the addition of the dreaded rsp file to the command line.

I opened up the RSP file (quickly) and it contains `/p:nuget_feeds=https%3A%2F%2Fapi%2Enuget%2Eorg%2Fv3%2Finde

[2020-07-13 20:11] NikolayPianikov commented on #152
@lukos

1. As I remember .NET runners does not add `nuget_feeds` parameter by itself. Could you check you have no the TeamCity system parameter `nuget_feeds` in your build configuration or in any parent projects.

2. Custom arguments should be added after .rsp.  Please see [this code](https://github.com/JetBrains/teamcity-dotnet-plugin/blob/949335250521d9b627e15f39cc0c33a1b394b45e/plugin-dotnet-ag

[2020-07-14 01:55] #151 closed

[2020-07-14 01:56] moonolgerd commented on #151
Not an issue. Agent still needs to be installed as part of the Docker image

[2020-07-14 06:59] NikolayPianikov commented on #151
@moonolgerd You could use this [repo](https://github.com/JetBrains/teamcity-docker-images) as a base to create your own TeamCity images.

[2020-07-14 14:33] lukos commented on #152
@NikolayPianikov

1) You are correct, there is a system parameter called nuget_feeds. I can probably update this to fix.
2) This is from the build log, note the order of parameters and rsp file: `.NET SDK 3.1.101 C:\Program Files\dotnet\dotnet.exe restore Presentation\SmartSurvey.Api\SmartSurvey.Api.sln --source https://api.nuget.org/v3/index.json --source https://www.myget.org/F/smartsurveylibs/a

[2020-08-12 09:52] NPadrutt commented on #91
exactly the same as @0xced

[2020-11-10 11:00] michal-ciesielski commented on #129
I agree with others - this is very unintuitive, dangerous and hard to spot.

In my case the configuration is:
- Failure conditions: one of build steps exited with an error, at least one test failed
- All steps are configured with: execute if all previous steps finished successfully
- I use NUnit runner for running tests
The build displays as follows:
- Build status is 'Failed'
- In the build log N

[2020-11-13 05:03] uecasm commented on #129
Just for a voice on the opposite side: I do rely on builds continuing when tests fail, because I want to run **all** the tests (there are several build steps that each run a different suite of tests).  It's annoying if failures in one of the early suites prevent later suites from running.

I also have a couple of tests that are deliberately left in a failure state, because it acts as a reminder to

[2020-11-16 09:55] adadurov commented on #145
For me, the workaround 'define environment variable in configuration' solved a similar issue when neither an environment variable defined for an agent in TeamCity, nor environment variable defined by docker-compose file that defined the configuration of the agent running on Linux were picked up by a build.

[2020-11-24 09:03] michal-ciesielski commented on #129
I think this is a common feature and I don't think anyone is arguing against this option. The problem is the default behaviour which I think should always be erring on the side of caution. Let's say the pipeline stops on the first failed test by default. You will then investigate, find out that some steps didn't get run and **if** you want them to run you will change the configuration accordingly.

[2020-11-24 09:14] badgerparade commented on #129
This is exactly what happened for me, we deployed a broken build to production even when the unit tests failed, we assumed that the test runner would stop the build if any tests failed.  Thankfully we had a blue / green setup so could roll back easily.  We've now moved away form TeamCity, there are may reasons why we did it but this odd default behaviour was one of them.

[2021-01-07 17:31] joergsesterhenn commented on #150
I tried using "--logger trx;LogFileName=results.trx" too. Why is this not working in Teamcity?
I need the reports to hand them to sonarqube - is there another way to do this?

[2021-01-07 18:09] GrayPockets commented on #150
@joergsesterhenn
When I reviewed my logs, I came to the understanding that the dotnet .CLI runner pipes the results into a specialized logger that disallows any other loggers so that it can send the results to TeamCity.

As a work-around I had to switch to command line to create the file for SonarQube and use the "XML Report Processing" build feature to import the unit test results back into TeamC

[2021-01-07 18:13] joergsesterhenn commented on #150
Thanks, will try this too.

[2021-01-10 10:13] KaranPato commented on #35
I was not using TeamCity here. Anyways the issue is resolved. Thanks.

[2021-01-20 19:55] chris1248 opened #153 "unmet requirement DotNetCLI_Path exists"
I have a linux build agent running on RedHat Enterprise Linux 8.
The agent is up and running and I have .NET core installed on it:

[code]

But when I want to specify a build step using the .NET tool (i.e. dotnet build), I get this error:
[code]
I have tried setting the DOTNET_HOME environment variable in the `buildAgent.properties` file to the following different combinations:

env.DOTNET_HOME=/u

[2021-01-21 15:31] chris1248 commented on #153
Version:
[code]

[2021-01-28 11:46] NikolayPianikov commented on #153
@chris1248 Unfortunately, I cannot reproduce. Could you please [share](mailto:nikolay.pianikov@jetbrains.com) a "teamcity-agent.log"?

[2021-03-08 22:20] fatihkaplan opened #154 "Can't run tool install in <custom>"
Hi,
I am trying to install a .net tool via "dotnet tool install" command (in my example, dotnet tool install --global AzureSignTool --version 2.0.17), but contrary to what it says in the [help](https://www.jetbrains.com/help/teamcity/net.html#Custom+Commands), I don't see a field for 'Command Line Parameters' to pass 'tool install..' when I select "custom" in the Command list; I only get the Execu

[2021-03-09 17:01] NikolayPianikov commented on #154
@fatihkaplan for _dotnet_ you should keep the _Executables_ field empty and specify arguments in the field _Command line parameters:_.

[2021-03-10 00:57] fatihkaplan commented on #154
@NikolayPianikov Right. And my issue is that there is no Command Line Parameters field when Custom is selected in the Command list.
![Teamcity_dotnetplugin_issue](https://user-images.githubusercontent.com/5797060/110559131-ae157100-8111-11eb-8f50-9262fae58f93.png)

[2021-03-10 06:51] NikolayPianikov commented on #154
@fatihkaplan please click on _Show advanced options_

[2021-03-12 21:26] fatihkaplan commented on #154
@NikolayPianikov , Thank you; totally user error! I can't believe it didn't occur to me to click on advanced options. I'm glad you created the new issue though, because it definitely would help someone else. Even as a seasoned TeamCity user, I still fell for it.
Once again, thank you very much for your help. And sorry for the late reply; I had to take a couple days off from work.

[2021-03-12 21:37] NikolayPianikov commented on #154
@fatihkaplan Always ready to help :)

[2021-03-12 21:37] #154 closed

[2021-04-02 16:13] arabsorkhi commented on #105
I had the same Error.
but By Repairing Visual Studio 2019,
close VS, delete .vs hidden folder under solution folder and  bin and obj folder then restart your VS to test again.
Fortunately My problem was solved.

[2021-06-14 11:47] njefsky commented on #87
This resurface after update to 2021.1.
[Step 4/7] dotnet vstest (3s)
[13:46:05] [dotnet vstest] Starting: .NET SDK 5.0.102 "C:\Program Files\dotnet\dotnet.exe" vstest C:\AutoTests\FrameworkTests\SVMX.Automation.Tests.Framework.dll /Tests:UninstallSpeficficSvmxAppsAndInstallSpecificPackagesFromDirectory /logger:logger://teamcity /TestAdapterPath:C:\BuildAgent\plugins\dotnet\tools\vstest15 /logger:c

[2021-06-14 11:55] njefsky commented on #87
FYI:
Before the update.  (Same Command Line Tool Version 16.8.3)

[02:01:25] [dotnet vstest] Starting: .NET SDK 5.0.102 "C:\Program Files\dotnet\dotnet.exe" vstest C:\AutoTests\FrameworkTests\SVMX.Automation.Tests.Framework.dll /Tests:UninstallSpeficficSvmxAppsAndInstallSpecificPackagesFromDirectory /logger:logger://teamcity /TestAdapterPath:C:\BuildAgent\plugins\dotnet\tools\vstest15 /logger:cons

[2021-06-14 20:18] jzabroski commented on #148
@orihomie Did you ever figure out exactly why the rsp file breaks the command?

[2021-06-15 05:31] orihomie commented on #148
@jzabroski yes, it's in #81
tldr; it was kind a bug that rsp arg follows xunit args

[2021-06-21 08:16] NikolayPianikov commented on #87
@njefsky Could you please share the list of files from the directory _C:\BuildAgent\plugins\dotnet\tools\vstest15_? Besides that, please add arguments ```--Diag some_file.log``` and attach this log file.

[2021-08-19 17:45] joshua5822 commented on #153
I was dealing with the same issue with Oracle Linux 7 and had installed dotnet through Microsoft's dotnet-install.sh. Regardless of what I set the DOTNET_HOME or PATH variables to TeamCity wouldn't detect the DotNetCLI_Path. While looking through Teamcity documentation I found the .NET Version Detection Algorithm documents that it also looks at the directory of /usr/share/dotnet. After using the d

[2021-11-03 14:07] Bhodges94 opened #155 "Cannot find MSBuild path on Teamcity Linux build agent"
although my DOTNET_HOME was set correctly (/usr/share/dotnet) the documentation shows the detection algorithm for dotnet but why not also for MSBuild?
https://www.jetbrains.com/help/teamcity/msbuild.html
Mine just can't find the MSBuild path at all
Unmet requirements:
MSBuildTools16.0_x64_Path exists

Tried setting env variable in bashrc, buildagent.properties, within the build configuration param

[2021-11-09 11:53] DenisL-s commented on #148
It seems the generated rsp file is broken in TeamCity 2021.2 (build 99542).

It starts contains the following line:

`/l:TeamCity.MSBuild.Logger.TeamCityMSBuildLogger,C:\Program Files\TeamCity\buildAgent\plugins\dotnet\tools\msbuild15\TeamCity.MSBuild.Logger.dll;TeamCity;plain`

As there are no quotes, the build fails with the following error:

[code]

Please let me know if I need to provide more

[2021-11-09 12:36] NikolayPianikov commented on #148
@DenisL-s the issue [was fixed](https://youtrack.jetbrains.com/issue/TW-73745#focus=Comments-27-5341673.0-0)

[2021-11-09 12:58] DenisL-s commented on #148
Thanks so much for the quick reply! The fix works perfectly.

[2021-11-16 09:17] Bhodges94 commented on #155
@mkjetbrains can anyone help with this? Or are these issues not monitored anymore?

[2021-11-16 10:37] NikolayPianikov commented on #155
@Bhodges94 @Bhodges94 MSBuildTools16.0_x64 is a windows version of MSBuild. It is a part of Visual Studio or Visual Studio [build tools](https://aka.ms/vs/17/release/vs_BuildTools.exe). To run MSBuild tasks on Linux, please choose the cross-platform version of MSBuild in a build step, in this case, [.NET SDK](https://dotnet.microsoft.com/download/dotnet/6.0) is required.

[2021-11-16 14:45] Bhodges94 commented on #155
@NikolayPianikov , thanks for your reply. I seem to missing this option?
![cross-platform-missing](https://user-images.githubusercontent.com/53040385/142006609-d0403488-8d55-40b1-b177-6759c7ece59c.png)

[2021-11-16 14:59] NikolayPianikov commented on #155
Please update the TeamCity

[2021-11-16 15:00] NikolayPianikov commented on #155
Please use the .NET runner instead

[2021-11-16 15:38] Bhodges94 commented on #155
don't worry, i think i've found it
![image](https://user-images.githubusercontent.com/53040385/142016312-f87a32e6-9539-4a21-9b08-77e9712ffb60.png)

[2022-05-11 22:56] mjewkes commented on #146
Hey there -

We just upgraded to .NET 6.0 - we're seeing the similar following error.

[code]

I'm on
TeamCity Professional 2022.04 (build 108502)

Going into `C:\BuildAgent\work\54ed349e18c2d874` and manually running  `"C:\Program Files\dotnet\dotnet.exe" test C:\BuildAgent\work\54ed349e18c2d874\UnitTests\UnitTests.csproj --settings C:\BuildAgent\work\54ed349e18c2d874\testSettings.runsettings` wo

[2022-05-11 22:57] mjewkes commented on #146
The output for me of manually typing:

[code]

[2022-05-11 23:30] Xerxes004 commented on #146
We are having the same issue with a temp file called 11.rsp. The first line in this file is `/noconsolelogger`. This is causing builds to fail with strange errors. The error appears to be related to the line directly after `/noconsolelogger` being injected into the `dotnet test` command without a preceding space.

So if before it would have been `dotnet test proj.csproj /noconsolelogger <line2>`,

[2022-05-12 06:48] NikolayPianikov commented on #146
The new issu is different from the one described in this ticket. We have other ticket for the problem in SDK 6.0.300: https://youtrack.jetbrains.com/issue/TW-76189

[2022-05-24 10:38] klacol opened #157 "How can I install automatically the .NET Frameworks on an OnPrem Build Agent?"
Hi, we use TC for many years now. In the last months I learned to know the Github Actions Workflows. They can prepare their build agents via script. So I do not need to prepare any software manually on my agent. The Github Actions Workflow installs automatically the needed software for the builds.

How could we achieve this with TC? I do not want to go remote on every agent for every framework/sof

[2022-05-24 18:29] NikolayPianikov commented on #157
@klacol hi. You can use Microsoft docker images (search for ".NET SDK" or ".NET Framework SDK" in docker hub) and run builds and tests in these containers via .NET runner. Alternatively, you can run TeamCity agents in a container https://hub.docker.com/r/jetbrains/teamcity-agent. These images already contain the .NET Framework and the .NET SDK.
You can also use the C# script launcher and scripts [

[2022-05-24 19:12] klacol commented on #157
Thanks, I will give it a try.

[2022-05-24 19:12] #157 closed

[2022-06-15 20:44] rokleM opened #158 "Problem parsing .rsp with .NET SDK 6.0.301"
When I try to start a build I get this:

 dotnet restore
    Starting: .NET SDK 6.0.301 "C:\Program Files\dotnet\dotnet.exe" restore B:\BuildAgents\work\d1489dc070d6d243\MSBuildTasks.sln --source https://api.nuget.org/v3/index.json --source https://localhost:8111/httpAuth/app/nuget/feed/_Root/default/v2 @B:\BuildAgents\BuildAgent3\temp\agentTmp\1.rsp
    in directory: B:\BuildAgents\work\d1489dc07

[2022-06-15 20:47] alvaromarithompson commented on #158
+1 on this, I've also just updated to latest version of .net 6 (6.0.301) and have started seeing this issue in Linux/Debian:

[code]

When looking at `/opt/teamcity-agent-1/temp/agentTmp/1.rsp` I can see the following line:

[code]

When I modify it to the below:

[code]

And then run the same command via bash, it works ok, but next time I run a build on TeamCity the 1.rsp file re-generates and th

[2022-06-15 21:01] alvaromarithompson commented on #158
This seems to have been reported to the main dotnet sdk repo https://github.com/dotnet/sdk/issues/26026

[2022-06-16 08:14] NikolayPianikov commented on #158
Related issue: https://youtrack.jetbrains.com/issue/TW-76527/Running-a-NET-builder-task-on-DotNet-6-SDK-solution-generates-a-build-error-MSBUILD-error-MSB1006-Property-is-not-valid

[2022-06-16 08:15] NikolayPianikov commented on #158
Could you please uprade the [.NET plugin](https://teamcity.jetbrains.com/repository/download/TeamCityPluginsByJetBrains_NetPlugin_NetDev/3871482:id/dotnet.zip) for TeamCity 2022

[2022-06-16 08:46] alvaromarithompson commented on #158
That's worked @NikolayPianikov - many thanks!

[2022-06-16 12:44] loop-evgeny commented on #158
Thanks, but even with this update the build fails when the build configuration name contains a comma.

error:

[2022-06-22 14:44] NikolayPianikov commented on #158
@loop-evgeny please try [this plugin](https://teamcity.jetbrains.com/repository/download/TeamCityPluginsByJetBrains_NetPlugin_NetDev/3877878:id/dotnet.zip)

[2022-06-22 14:47] NikolayPianikov commented on #158
@SRYER What program did this classification? .NET plugin doesn't have such feature

[2022-06-22 15:07] loop-evgeny commented on #158
That works with a comma in the build configuration name, thanks! It's URL-encoded in the 1.rsp file now:

[2022-06-23 02:21] akulich commented on #158
We are currently on TeamCity 2020.2.4. Would the above plugin work for it or could you post a version for TC 2020.2? Thanks.

[2022-06-23 03:43] RickyLin commented on #158
As a workaround, currently I add a [global.json](https://docs.microsoft.com/en-us/dotnet/core/tools/global-json) file in my solution to specify a particular .NET SDK version other than 6.0.301, then everything works again. The global.json file can be removed after this issue gets solved.

[2022-06-23 19:20] schwede commented on #158
I've tried the new plugin but I'm having issues with multiple Nuget package sources. I tried to URL encode the semicolon separator but it looks like Team City parses the list and replaces my URL encoded semicolons with regular semicolons. Any workarounds for that or should I just force to SDK 6.0.300 instead?

[2022-06-30 11:11] Fabman08 commented on #158
@NikolayPianikov Can you explain how to install the plugin please?

[2022-07-12 19:33] brainmeyers opened #159 ""Property is not valid" error caused by invalid values in rsp file"
I am having the same problem as [Issue 85](https://github.com/JetBrains/teamcity-dotnet-plugin/issues/85)

I am using the latest version of Team City [2022.04.1 (build 108575)] and the latest version of .net 6 SDK (6.0.301) so I am not sure why previous fixes are not working in my case.

I get the same "Property is not valid" error.  Here is the errors from the log file:

[code]

I get the same er

[2022-07-14 07:40] NikolayPianikov commented on #159
Please try [this version](https://teamcity.jetbrains.com/repository/download/TeamCityPluginsByJetBrains_NetPlugin_NetDev/3885688:id/dotnet.zip)

[2022-08-03 16:31] haldiggs commented on #158
same issue here. about to install TeamCity upgrade. I am hoping this does not cause further issues. All of our builds broke using 6.0.300

[2022-08-11 10:35] waf commented on #158
It looks like the root cause in https://github.com/dotnet/sdk/issues/26026 is fixed as of .NET 6.0.303. I installed the latest version of .NET (6.0.400) and deleted my global.json workaround -- everything's working as expected now.

[2022-11-03 15:57] TheXenocide commented on #145
We're having an issue in TeamCity 2022 with the dotnet runner type ignoring our `NUGET_XMLDOC_MODE` environment variable (set in the build parameters). It's defaulting to `skip` but we need it to be `none` because we're using those xml docs. Is there a workaround for this? It appears to be very much related to this linked code which specifies "skip" in its `defaultVariables`

[2022-11-03 22:28] TheXenocide commented on #145
To gather some additional information, we ran a test build configuration using the following MSBuild project.
[code]

The build log (redacted version below) indicates that, even though the build shows the environment variable correctly set to `none` in the parameters tab, the MSBuild execution is overriding this value:

[code]

[2022-11-07 10:43] dmitry-treskunov commented on #145
You are right, this bug was fixed in 2022.10 release https://youtrack.jetbrains.com/issue/TW-76151

[2022-11-07 11:49] mchechulnikov commented on #145
@TheXenocide [this bug has already been fixed in 2022.10](https://youtrack.jetbrains.com/issue/TW-76151/Suppress-NUGETXMLDOCMODE-skip-in-NET-Runner-steps).

[2022-11-07 21:58] TheXenocide commented on #145
Great, upgrading fixed us, thanks!

[2022-11-21 10:00] danreg commented on #159
Hi,
I have a similiar error with dotnet test step in teamcity. Throwing many errors because of rsp file.

It gives me german error messages but it means "Command or Argument ... not recognized

`Befehl oder Argument "/noconsolelogger" nicht erkannt
[09:17:32 ](http://dev-ci2:8180/buildConfiguration/id3ssDev_3ssDevFeatureBranches/23244?buildTab=log&focusLine=2020&logView=flowAware&linesState=2020)

[2022-11-21 11:48] mchechulnikov commented on #159
Hi @danreg,

We have related [issue in our YouTrack]( https://youtrack.jetbrains.com/issue/TW-78449). The issue related to this problem introduced in .NET SDK 7.0.100. I have already created the corresponding [issue to .NET team](https://github.com/dotnet/sdk/issues/28975). We are waiting a fix from their side.

Please, check comments in YouTrack for a possible workaround for you problem and do no

[2022-11-21 11:48] #159 closed

[2022-11-21 13:01] danreg commented on #159
@mchechulnikov awesome this works!!! I've spent so much time on googling and trying to find exactly this :)